@{
    ViewBag.Title = "About - Commitment";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>Commitment</h1>

<p>Metrorail's is a passenger rail transport company in South Africa. This is our primary business going forward. Our strategy is to provide integrated, seamless transport for the South African public. We are in the process of transforming into a safe, reliable, affordable and hygienic provider of rail to meet passenger demands.</p>
<p>We are committed to:</p>

<ul>
    <li>Sustaining a formal integrated business management system that complies with the requirements of:
        <ul>
            <li>ISO 9001:2000 (Quality Management)</li>
            <li>SANS 3000-1 (Rail Safety Management)</li>
            <li>NOSA (SHE Management)</li>
        </ul>
    </li>
    <li>A systems approach to management with:
        <ul>
            <li>A factual approach to decision making</li>
            <li>Continuous improvement</li>
            <li>Monitoring and measuring performance and taking corrective action</li>
        </ul>
    </li>
    <li>We have a customer focus:
        <ul>
            <li>Understanding and complying with the needs of our customers</li>
            <li>Minimise the risk of service failure provided to our customers</li>
        </ul>
    </li>
    <li>Empowering Leadership</li>
    <li>Living our values</li>
</ul>
<br /><br />