
@{
    ViewBag.Title = "About - Company Introduction";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>Company introduction</h1>
<h3>WELCOME TO THE PASSENGER RAIL AGENCY OF SOUTH AFRICA - METRORAIL GAUTENG</h3>

<p>The Passenger Rail Agency of South Africa (PRASA) Metrorail Gauteng is the agency of the Department of Transport responsible for the provision of commuter rail services in Gauteng. It has custodianship of all commuter rail assets.</p>
<p>Metrorail Gauteng as an operating unit of PRASA Rail is responsible for the following:</p>
<ul>
    <li>Planning and managing day to day operations;</li>
    <li>Scheduling transport services;</li>
    <li>Maintaining assets (rolling stock)</li>
    <li>Collecting fares;</li>
    <li>Providing security for passengers; and</li>
    <li>Implementing operational safety plans.</li>
</ul>
<p>Metrorail South Africa provides a critical service with over 2.6 million passenger trips daily. It runs over 2300 train trips on a daily basis. It is the most affordable mode of transport that provides mobility to many South Africans.</p>

<h3>Guiding Principles</h3>

<p>As employees of Metrorail and PRASA, we share the following:</p>

<h4>Vision</h4>

To be the leader in passenger transport solutions

<h4>Mission</h4>

 Strive for High Quality and Sustainable Passenger Services though Service Excellence, Innovation and Modal Integration

<h4>Principles</h4>

<ul>
    <li><strong>Mobility</strong> - PRASA shall contribute to sustainable public transport solutions through providing high-quality passenger services founded on an integrated network of mobility routes.</li>
    <li><strong>Accessibility</strong> - PRASA shall provide quality rail, bus and property management services that enable individuals and communities to access socio-economic opportunities and contribute to a better quality of life for the people as a whole.</li>
    <li><strong>Modal Integration</strong> – PRASA seeks to reframe the basis of its business model in a manner that delivers seamless integration and efficiency between different transport modes..</li>
    <li><strong>Service Excellence</strong> - A deep commitment to superior performance that is safe, reliable and affordable, provide a dignified travel experience that makes a lasting impression, and builds brand loyalty – both internally (employees) and externally (customers) – that adds benefit to the passenger.</li>
    <li><strong>Sustainability</strong> - A focus on sustainable development in business that considers not just the financial ‘bottom line’ but driven by a deep commitment to outcomes that are primarily aimed at improving the socio-economic conditions of citizens, environmental quality and social equity.</li>
</ul>
<strong>Welcome to Metrorail Gauteng and enjoy your visit.</strong>
<br /><br />