
@{
    ViewBag.Title = "About - Core Value";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>Core Value</h1>

<p>The values that guide PRASA, underpinning the performance ethos of the organisation have been derived from the outcome of workshops carried out across the Group. The premise of the derived values is to deliver service excellence, productive staff and business growth. The values are –</p>
<ul>
    <li><strong>Fairness and Integrity</strong> - Treating customers and colleagues the same as we would like to be treated.</li>
    <li><strong>Service Excellence</strong> - Provide the kind of services that meet and exceed customer expectation.</li>
    <li><strong>Performance Driven </strong>- Developing the ability to venture into new breakthrough areas of opportunity whilst offering quality products to our customers.</li>
    <li><strong>Safety</strong>- Ensuring our customers and colleagues enjoy their journey and arrive safely and refreshed.</li>
    <li><strong>Communication </strong>- Sharing information with our customers and colleagues in an open and honest way.</li>
    <li><strong>Teamwork </strong>- Working together with our customers to achieve a common goal and recognising each other’s worth.</li>
</ul>