
@{
    ViewBag.Title = "About - Government";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<div class="row">
    <div class="col-md-12 center-block"><h2>The Government of South Africa</h2></div>
</div>
<div class="row">
    <div class="col-md-3 center-block"><img src="~/Content/Images/About/Jacob-zuma.jpg" width="200" height="200" /></div>
    <div class="col-md-9">
        <h3>The president - Jacob Gedleyihlekisa Zuma</h3>
        <p></p>
    </div>
</div>

