@{
    ViewBag.Title = "About - Government";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12"><h2>The Government of South Africa</h2></div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-5"><img src="~/Content/Images/About/Jacob-zuma.jpg" width="200" height="200" /></div>
            <div class="col-md-7">
                <h3>The president - Jacob Zuma</h3>
                <p></p>

                <div class="row">
                    <div class="col-md-4">
                        Full names:
                    </div>
                    <div class="col-md-8">
                        Jacob Gedleyihlekisa Zuma
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        Assumed office:
                    </div>
                    <div class="col-md-8">
                        9 May 2009
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        Born:
                    </div>
                    <div class="col-md-8">
                        12 April 1942, Inkandla, South Africa
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-12">
                Born in Nkandla, South Africa, on April 12, 1942, Jacob Zuma was elected president of South Africa in 2009. In 2007, he won the presidency of the African National Congress, which he joined at an early age in 1959. Zuma served as deputy president of South Africa from 1999 to 2005. Zuma has 20 children.
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-7">
                <h3>Deputy president - Cyril Ramaphosa</h3>
                <p></p>

                <div class="row">
                    <div class="col-md-4">
                        Full names:
                    </div>
                    <div class="col-md-8">
                        Matamela Cyril Ramaphosa
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        Assumed office:
                    </div>
                    <div class="col-md-8">
                        26 May 2014
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        Born:
                    </div>
                    <div class="col-md-8">
                        17 November 1952, Soweto, South Africa
                    </div>
                </div>
            </div>
            <div class="col-md-5"><img src="~/Content/Images/About/CyrilRamaphosa.jpg" width="200" height="200" /></div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-12">
                <p>Matamela Cyril Ramaphosa (born 17 November 1952) is a South African politician, businessman, activist, and trade union leader who has served as the Deputy President of South Africa under Jacob Zuma since 2014. He was elected as Deputy President of the African National Congress (ANC) at the ANC National Conference in Mangaung in December 2012. Ramaphosa is also the Chairman of the National Planning Commission which is responsible for strategic planning for the country.</p>
                <p>Widely respected as a skilful and formidable negotiator and strategist, Ramaphosa built up the biggest and most powerful trade union in South Africa—the National Union of Mineworkers (NUM)—and played a crucial role, with Roelf Meyer of the National Party, during the negotiations to bring about a peaceful end to apartheid and steer the country towards its first democratic elections in April 1994.</p>
            </div>
        </div>

        <hr />
         <div class="row">
            <div class="col-md-5"><img src="~/Content/Images/About/Dipuo-Peters.jpg" width="200" height="200" /></div>
            <div class="col-md-7">
                <h3>Minister of transport - Dipuo Peters</h3>
                <p></p>

                <div class="row">
                    <div class="col-md-4">
                        Full names:
                    </div>
                    <div class="col-md-8">
                        Elizabeth Dipuo Peters
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        Assumed office:
                    </div>
                    <div class="col-md-8">
                        10 July 2013
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        Born:
                    </div>
                    <div class="col-md-8">
                        13 May 1960,  Kimberley, South Africa
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-12">
                Elizabeth Dipuo Peters (born in Kimberley, Northern Cape on 13 May 1960) is the Minister of Transport of the Republic of South Africa (from 10 July 2013), in the Zuma administration, and former Minister of Energy from 2009-2013 having served as successor to Manne Dipico as the second Premier of the Northern Cape Province, 22 April 2004 to 10 May 2009. A member of the African National Congress (ANC), she is on the Women's League National Executive Committee.
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Agriculture, Forestry and Fisheries</p>
                Senzeni Zokwana
                <br />Deputy: Bheki Cele
            </div>
            <div class="col-md-6">
                <p class="mark">Arts and Culture</p>
                Nathi Mthethwa
                <br />Deputy: Rejoice Mabudafhasi
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Basic Education</p>
                Angie Motshekga
                <br />Deputy: Enver Surty
            </div>
            <div class="col-md-6">
                <p class="mark">Communications</p>
                Faith Muthambi
                <br />Deputy: Stella Ndabeni-Abrahams
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Cooperative Governance and Traditional Affairs</p>
                Pravin Gordhan
                <br />Deputy: Andries Nel, Obed Bapela
            </div>
            <div class="col-md-6">
                <p class="mark">Water and Sanitation</p>
                Nomvula Mokonyane
                <br />Deputy: Pam Tshwete
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Defence and Military Veterans</p>
                Nosiviwe Mapisa-Nqakula
                <br />Deputy: Kebby Maphatsoe
            </div>
            <div class="col-md-6">
                <p class="mark">Economic Development</p>
                Ebrahim Patel
                <br />Deputy: Madala Masuku
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Energy</p>
                Tina Joemat-Pettersson
                <br />Deputy: Thembi Majola
            </div>
            <div class="col-md-6">
                <p class="mark">Environmental Affairs</p>
                Edna Molewa
                <br />Deputy: Barbara Thomson
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Finance</p>
                Nhlanhla Nene
                <br />Deputy: Mcebisi Jonas
            </div>
            <div class="col-md-6">
                <p class="mark">Health</p>
                Aaron Motsoaledi
                <br />Deputy: Joe Phaahla
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Higher Education and Training</p>
                Blade Nzimande
                <br />Deputy: Mduduzi Manana
            </div>
            <div class="col-md-6">
                <p class="mark">Home Affairs</p>
                Malusi Gigaba
                <br />Deputy: Fatima Chohan
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Human Settlements</p>
                Lindiwe Sisulu
                <br />Deputy: Zoe Kota-Hendricks
            </div>
            <div class="col-md-6">
                <p class="mark">International Relations and Cooperation</p>
                Maite Nkoana-Mashabane
                <br />Deputy: Noma-India Mfeketho, Lluwelyn Landers
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Justice and Correctional Services</p>
                Michael Masutha
                <br />Deputy: John Jeffery,Thabang Makwetla
            </div>
            <div class="col-md-6">
                <p class="mark">Labour</p>
                Mildred Oliphant
                <br />Deputy: Inkosi Patekile Holomisa
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Mineral Resources</p>
                Ngoako Ramathlodi
                <br />Deputy: Godfrey Oliphant
            </div>
            <div class="col-md-6">
                <p class="mark">Police</p>
                Nkosinathi Nhleko
                <br />Deputy: Maggie Sotyu
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Public Enterprises</p>
                Lynne Brown
                <br />Deputy: Gratitude Magwanishe
            </div>
            <div class="col-md-6">
                <p class="mark">Public Service and Administration</p>
                Collins Chabane
                <br />Deputy: Ayanda Dlodlo
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Public Works</p>
                Thulas Nxesi
                <br />Deputy: Jeremy Cronin
            </div>
            <div class="col-md-6">
                <p class="mark">Rural Development and Land Reform</p>
                Gugile Nkwinti
                <br />Deputy: Mcebisi Skwatsha, Candith Mashego-Dlamini
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Science and Technology</p>
                Naledi Pandor
                <br />Deputy: Zanele kaMagwaza-Msibi
            </div>
            <div class="col-md-6">
                <p class="mark">Small Business Development</p>
                Lindiwe Zulu
                <br />Deputy: Elizabeth Thabethe
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Social Development</p>
                Bathabile Dlamini
                <br />Deputy: Henrietta Bogopane-Zulu
            </div>
            <div class="col-md-6">
                <p class="mark">Sport and Recreation</p>
                Fikile Mbalula
                <br />Deputy: Gert Oosthuizen
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">State Security</p>
                David Mahlobo
                <br />Deputy: Ellen Molekane
            </div>
            <div class="col-md-6">
                <p class="mark">Telecommunications and Postal Services</p>
                Siyabonga Cwele
                <br />Deputy: Hlengiwe Mkhize
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Tourism</p>
                Derek Hanekom
                <br />Deputy: Thokozile Xasa
            </div>
            <div class="col-md-6">
                <p class="mark">Trade and Industry</p>
                Rob Davies
                <br />Deputy: Mzwandile Masina
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mark">Transport</p>
                Dipuo Peters
                <br />Deputy: Sindiswe Chikunga
            </div>

        </div>

    </div>
    <div class="col-md-4">
        <div class="col-md-12 center-block">
            <a href="~/About/SASymbols"><h2>Important South African Symbols</h2></a>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center-block">
                <p class="mark">Flag</p>
                <img src="~/Content/Images/SAFlag.jpeg" class="square100" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center-block">
                <p class="mark">Coat Of Arms</p>
                <img src="~/Content/Images/About/CoatOfArmsSquare.png" class="square100" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center-block">
                <p class="mark">National Animal</p>
                <img src="~/Content/Images/About/Springbok.jpg" class="square100" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center-block">
                <p class="mark">National Bird</p>
                <img src="~/Content/Images/About/blue-crane.jpg" class="square100" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center-block">
                <p class="mark">National Fish</p>
                <img src="~/Content/Images/About/galjoen.png" class="square100" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center-block">
                <p class="mark">National Flower</p>
                <img src="~/Content/Images/About/protea.jpg" class="square100" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center-block">
                <p class="mark">National Tree</p>
                <img src="~/Content/Images/About/yellowwood.jpg" class="square100" />
            </div>
            <div class="col-md-2"></div>
        </div>
</div>
</div>