
@{
    ViewBag.Title = "About - History";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>Metrorail History</h1>

<h2>The Beginning</h2>
<p>
    The railway system dates back to the late 1850s when the concept of rail transport was proposed for the Cape and Natal colonies. Private companies pioneered the first railway systems with the building of a 92-kilometre line from Cape Town to Wellington and the Durban-Point line.
</p>
<p>
    On June 26 1860, passenger commuter rail services was born in South Africa with the opening of a two-mile (3,2 km) stretch of railway line between Market Square and the Customs Point in Durban. George Russell, the first stationmaster, reported that more than 800 passengers were transported on that first day.
</p>
<p>
    Three years later the Railway Service in the Cape commenced with the introduction of the Cape Town - Wellington section, via Eersterivier.
</p>
<p>
    The first passenger commuter train to operate in the Gauteng area was introduced on 17 March 1890, commissioned to run the 20 km between Braamfontein (Johannesburg) and Boksburg. That same year saw the introduction of the rail passenger services between Maputo (Lourenco Marques) and Pretoria. This train was known as the "Rand Tram". The Rand Tram is now a proud exhibit at the Pretoria Station.
</p>
<p>
    During these first years of Rail Passenger Commuter Services the "competitive market" was considered to be horse-drawn carriages. Road passenger transport only started in 1912. The "Muizenberg Flyer" was introduced in 1880 on a wide gauge (4'8") track to increase the speed of trains. It is interesting to note that the South African Railways later standardised on the narrow (3'6") gauge.
</p>
<h3>Discovery of diamonds and gold</h3>
<p>
 The discovery of diamonds in Kimberley in 1867 brought a new impetus to the planning & construction of the railway system. Because of the high cost & the importance of the railway system, the South African Government took over all the rail initiatives. The pioneer railway systems in the Cape and Natal became Government property in 1872 and 1877 respectively. No sooner had the government initiated a massive push towards the development of the railway system to Kimberley, then rumours began to surface about the discovery of vast gold deposits in the Transvaal Republic. This led to the shift of economic power from the colonial south to the republic north.
</p>
<p>
    The period after the discovery of gold was characterised by bitter conflict between British imperialism and nationalist resistance, supported by Portuguese interest in a competing railway between Transvaal and Delgoa Bay (now known as Maputo). This culminated in a war that broke out in 1899 which ended three years later with the defeat of the two republics. The four colonies were gathered into a loose union under British control. Disputes and other problems relating to agriculture, labour, racial conflicts etc. led politicians to acknowledge that South Africa was an inseparable economic entity. Union was achieved in 1910. Railways and harbours were used to unify and develop the country for the benefit of its people. Rail developed rapidly resulting in more than 11 000 km track for both commuter and freight use nationally by 1910.
</p>
    At that time the South African Railways and Harbours came into being and was responsible for the administration of all ports, harbours and railways. This was enacted through the South African Act of Union which placed the railways under the direct control of parliament. However, the Act made it clear that railways were to be operated on business principles, albeit in accordance with the general policy of the government. For, example, the provision of cheap transport to the agricultural and industrial population within the interior of the four provinces.
</p>
<p>
    Urbanisation of poor farmers whose homesteads and farms were completely ruined during the Anglo-Boer War of 1899-1901 and people who during the Depression of 1929-1933 aggravated by the devastating invasion of locusts and malaria epidemic in Natal, sought work in the towns and all cities gave the first impetus for efficient suburban train services.
</p>
<p>
    Periodic swings in the economy and large-scale industrial and commercial development in and around cities offered attractive job opportunities and attracted more people. Despite tight budgets, existing lines were built and longer train sets were used to meet the ever increasing demand by workers for commuter train services.
</p>
<p>
    One century later, the (then) South African Railways had already established itself as the largest transport organisation on the African continent, providing rail transport to more than 274 million passengers on long distance and suburban routes annually. In 1960 the road transport capacity was 10 million passengers per annum.
</p>
<p>
    In the 1970s urbanisation was taking place at a rate faster than the railways could handle its restricted resources and high enterprise approach in its operations. This pressure resulted in the South African Railways and Harbours restructuring itself to run along business lines and changing its name to the South African Transport Services (SATS) in 1981.
</p>
<p>
    The first steam locomotive and its coach that completed the 3.2 km stretch between Market Square and the Customs Point in Durban had an honoured place at the old Durban station. Later the steam locomotive was moved to the new Berea Road Station when it was opened during the late seventies.
</p>
<p>
    During 1978-9 SATS conveyed nearly 500 million commuters but, due to political unrest in the late '80s and early '90s as well as an increase in competition, the market share for rail declined.
</p>
    <h3>Coach design of 19th Century</h3>
<p>
    Coach design of the 19th century was simple. The complete wooden Durban coach had six windows with stagecoach like seats. The seats at either end of the coach were regarded as "second class" because they only allowed a single-direction view, while the seats in the middle were regarded as "first class" due to their superior bi-directional view. The outer design of the carriage was "boxy" and not streamlined. This "boxy" design for the commuter rail coaches was common for most of the 20th Century.
</p>
<p>
    Development and enhancement of passenger commuter trains focused mainly on the engineering and types of traction power. The first method of traction was mainly steam-driven engines that later changed to diesel and then to electrical traction. Rail services were provided by "fast" engines pulling coaches in a similar fashion to horse carts.
</p>
<p>
    This paradigm changed during the late 40's. While passenger commuter rail design engineers focused on the traction power and associated technology, a new entity called "the rail car" was designed for exclusive use on "branch lines". This "rail car" was the official forerunner to the motor coach. The "rail car" also served as the core design theme for tram services that augmented public transport in Johannesburg until the late 60's.
</p>
<p>
    Electrical traction was introduced into the rail environment during 1928 in the Cape suburban area. In 1937 electrical traction was introduced on the Rand (currently the greater Gauteng area including Pretoria and Johannesburg WITS regions). The term "motorised train" was introduced in the early 30's when the "engine" became an integral part of the train. The term "M" was later adopted to describe these motorised trains. One of the advantages of the "electrical integration" within the entire train was to provide electrical lighting in all the coaches.
</p>
<h3>    Formation of SARCC</h3>
<p>
    Prior to April 1990, commuter rail services were provided by the South African Railways and Harbours, then South African Transport Services (SATS) and its predecessor, the South African Railways and Harbours, (SAR & H), both of them fully State-owned and State controlled entities.
</p>
<p>
    On 1 April 1990, SATS transferred its functions to a newly formed public company called as Transnet, with various main business undertakings such as Spoornet, Portnet and the South African Airways (SAA)
</p>
<p>
    At the same time, and through the Legal Succession to the South African Transport Services Act, No.9 of 1989, Transnet shed its commuter services. The South African Rail Commuter Corporation (SARCC) was then established as an agency of the National Department of Transport to assume the responsibility for these commuter rail services throughout the Country.
</p>
<p>
    SARCC inherited all assets (land and properties) in and around commuter stations and corridors for the purpose of commercialising these assets to contribute financially to the reduction of the subsidisation of the social commuter rail service. During 1992, a wholly-owned subsidiary company of the SARCC, Intersite Property Management Services (IPMS), was formed to perform this function for the Corporation.
</p>
    <h3>State of passenger Rail in South Africa</h3>
<p>
    Passenger rail in South Africa faces many challenges as the result of inadequate investment in rail infrastructure, operations, ageing train fleet (rolling stock) and the severe shortage of managerial and technical skills. Limited coverage has also meant that rail lost significant market share. The result is passenger rail services that have fail to respond adequately to passenger demands.
</p>
<p>
    The prolonged under-investment of almost 30 years has resulted in a situation where service experiences continued decline in the availability of rolling stock. The condition of the rolling stock is deteriorating faster than the rate of overhauls.
</p>
<p>
    Passenger rail has the potential to be the most efficient, affordable and safe mode of travel, while more than trebling the patronage levels over the years. It could form the backbone of an efficient and reliable public transport system. With its fixed nature, rail has the potential to ensure greater integration between land use planning and transport infrastructure. This is vital to creating sustainable communities where people's access to economic and social opportunities.
</p>
<p>
    For the business to effect the implementation of the Priority Corridor strategy in accordance with the proposed focus on high density corridors, there is a need for Government to significantly increase its investment in infrastructure, operations and new skills to further facilitate future growth in patronage. Much of the increase will be to accelerate rolling stock upgrades and upgrade of the signalling and telecommunications system.
</p>
<p>
    A top priority of the Passenger Rail Company will be to explore ways of increasing the role of private sector financing, with special focus on recapitilisation of the fleet and supply process.
</p>
<p>
    South African Rail Commuter Corporations Strategy is about: Transforming and Positioning Passenger Rail to form the basis of Integrated Mass Rapid Public Transport Networks in South Africa?
</p>
<p>
    All business activities are directed towards this objective.
</p>
<p>
    SARCC is a passenger rail transport company in South Africa
</p>
<p>
    Our primary business is in the service sector of the economy and the critical success factor is improvement in service delivery to the passenger such as speed, convenience and reliability. The implementation of the National Passenger Rail Plan which is aimed at focusing resources on priority corridors forms the basis of the strategy.
</p>
<h3>The Consolidation of Rail Entities</h3>
<p>
    In May 2004, the Minister of Transport, Honourable MP, Jeff Radebe announced that the SARCC is to lead and drive the consolidation of passenger rail entities to form a single passenger rail entity. The first phase of consolidation commenced last year, 2006 with the consolidation of Metrorail, previously a business unit of Transnet into the SARCC fold, the second phase of consolidation is expected to unfold in April 2008 with the transfer of Shosholoza Meyl from Transnet to the SARCC.
</p>
<p>
    The consolidation of rail entities is aimed at:
</p>
<ul>
    <li>Sustainable passenger rail service delivery.
    <li>Improved performance of passenger rail services in terms of the quality and levels of service to passengers.
    <li>Improved efficiency of asset management.
    <li>Improved oversight by Government and Improved accountability to the users.
</ul>
<br /><br />