@{
    
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/About/WhoIsWho"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/MetrorailLogo.png" alt="Meet the team"></a>
            <div class="item-content">
                <h3>Meet the team</h3>
                <br />Meet the dynamic people leading this organisation in the "Who is who" section...

                <a class="btn pull-right btnlnk" href="~/About/WhoIsWho">Read more</a>

            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/About/CoreValue"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/CoreValue2XSml.jpg" alt="Core Value"></a>
            <div class="item-content">
                <h3>Core Value</h3>
                <br />Fairness and Integrity, Service Excellence, Performance Driven...

                <a class="btn pull-right btnlnk" href="~/About/CoreValue">Read more</a>

            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/About/Government"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/SAFlag.jpeg" alt="Government"></a>
            <div class="item-content">
                <h3>Government</h3>
                <br />Learn more about the people ruling our country, important symbols, and more...

                <a class="btn pull-right btnlnk" href="~/About/Government">Read more</a>

            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/About/Strategy"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/StrategyXSml.jpg" alt="Strategy"></a>
            <div class="item-content">
                <h3>Strategy</h3>
                <br />The Turnaround strategy is about repositioning rail over the long-term in the heart of public transport...

                <a class="btn pull-right btnlnk" href="~/About/Strategy">Read more</a>

            </div>
        </article>
    </div>
</div>