@{
    
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/About/WhoIsWho">
                <img src="~/Content/Images/Team3XSml.jpg" width="115" height="113" alt="Meet the team">
                <div class="caption">
                    <h3>Meet the team</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/About/CoreValue">
                <img src="~/Content/Images/CoreValue2XSml.jpg" width="115" height="113" alt="Core Value">
                <div class="caption">
                    <h3>Core Value</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/About/Government">
                <img src="~/Content/Images/SAFlag.jpeg" width="115" height="113" alt="Government">
                <div class="caption">
                    <h3>Government</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/About/Strategy">
                <img src="~/Content/Images/StrategyXSml.jpg" width="115" height="113" alt="Strategy">
                <div class="caption">
                    <h3>Strategy</h3>
                </div>
            </a>
        </div>
    </div>
</div>