
@{
    ViewBag.Title = "About - Procedures";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>Important South African Symbols</h1>
<p class="mark">South African National Flag</p>
<div class="row">
    <div class="col-md-3">

        <img src="~/Content/Images/SAFlag.jpeg" class="square200" />
    </div>
    <div class="col-md-5">
        The national flag was designed by a former South African State Herald, Mr Fred Brownell, and was first used on 27 April 1994. The design and colours are a synopsis of principal elements of the country's flag history. Individual colours, or colour combinations have different meanings for different people and therefore no universal symbolism should be attached to any of the colours.
        The central design of the flag, beginning at the flagpost in a "V" form and flowing into a single horizontal band to the outer edge of the fly, can be interpreted as the convergence of diverse elements within South African society, taking the road ahead in unity. The theme of convergence and unity ties in with the motto "Unity is Strength" of the previous South African Coat of Arms.
    </div>
    <div class="col-md-4">
        <blockquote class="italic smalltext">
            <p>As in the case of the rocket logo used for IT billionaire Mark Shuttleworth's First African in Space project, the South African flag has become integrated into butterflies, bow ties, company logos, trees, top hats, hot air balloons, umbrellas, underwear ... the list goes on. The South African flag has no equal in this respect.</p>
            <footer>Introduction from <cite title="Source Title">Flying with Pride: The Story of the South African Flag</cite></footer>
        </blockquote>
    </div>
</div>


<p class="mark">South African National Anthem</p>
<div class="row">
    <div class="col-md-1 centerv-block"></div>
    <div class="col-md-6">
        <blockquote class="center-block smalltext">
            Nkosi sikelel' iAfrika
            <br />Maluphakanyisw' uphondo lwayo,
            <br />Yizwa imithandazo yethu,
            <br />Nkosi sikelela, thina lusapho lwayo.
            <br />
            <br />Morena boloka setjhaba sa heso,
            <br />O fedise dintwa le matshwenyeho,
            <br />O se boloke, O se boloke setjhaba sa heso,
            <br />Setjhaba sa South Afrika - South Afrika.
            <br />
            <br />Uit die blou van onse hemel,
            <br />Uit die diepte van ons see,
            <br />Oor ons ewige gebergtes,
            <br />Waar die kranse antwoord gee,
            <br />
            <br />Sounds the call to come together,
            <br />And united we shall stand,
            <br />Let us live and strive for freedom,
            <br />In South Africa our land.

        </blockquote>
    </div>
    <div class="col-md-4 centerv-block">
        <p class="mark2">History of "Nkosi Sikelel iAfrika"</p>
        Nkosi Sikelel iAfrika was composed in 1897 by Enoch Sontonga, a Methodist mission school teacher. The words of the first stanza were originally written in Xhosa as a hymn. Seven additional stanzas in Xhoza were later added by the poet, Samuel Mqhayi. A Sesotho version was published by Moses Mphahlele in 1942. Nkosi Sikelel iAfrika was popularised at concerts held in Johannesburg by Reverend JL Dube's Ohlange Zulu Choir. It became a popular church hymn that was later adopted as an anthem at political meetings. It was sung as an act of defiance during the apartheid years. The first stanza is generally sung in Xhosa or Zulu followed by the Sesotho version. Apparently there is no standard version or translations of Nkosi and the words vary from place to place and from occasion to occasion.
    </div>
    <div class="col-md-1 centerv-block"></div>

</div>

<p class="mark">South African Coat of Arms</p>
<div class="row">
    <div class="col-md-1 centerv-block"></div>

    <div class="col-md-5 centerv-block">
        <p class="mark2">The role of a Coat of Arms</p>
        A national coat of arms, or State emblem, is the highest visual symbol of the State. Take a minute to consider the important events in your life - birth, marriage, death and school certificates, your passport - they are all endorsed by the Coat of Arms. Your smallest coin has it on one of its sides. When away from the country seeing a plaque of it on the embassy signals a home away from home.

        The coat of arms is also a central part of the Great Seal, traditionally considered to be the highest emblem of the State. Absolute authority is given to every document with an impression of the Great Seal on it, as this means that it has been approved by the President of South Africa.

        A new coat of arms, replaces one that has served South Africa since 17 September 1910. The change reflects Government's aim to highlight the democratic change in South Africa and a new sense of patriotism.

    </div>
    <div class="col-md-5">
        <img src="~/Content/Images/About/CoatOfArms.png" />
    </div>
    <div class="col-md-1 centerv-block"></div>

</div>
<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
        
        <div class="col-md-6">
            <p class="mark2">The design of the new Coat of Arms</p>
            The Coat of Arms is a series of elements organised in distinct symmetric egg-like or oval shapes placed on top of one another. The lower oval shape represents the elements of Foundation
            The first element is the Motto , in a green semicircle. Completing the semicircle are two symmetrically placed pairs of elephant tusks pointing upwards. Within the oval shape formed by the tusks are two symmetrical ears of wheat, that in turn frame a centrally placed gold shield.

            The shape of the shield makes reference to the drum, and contains two human figures from Khoisan rock art. The figures are depicted facing one another in greeting and in unity. Above the shield are placed a spear and a knobkierie, crossed in a single unit. These elements are arranged harmoniously to give focus to the shield and complete the lower oval shape of foundation.
        </div>
        <div class="col-md-6">
            The oval shape of Ascendance
            Immediately above the oval shape of foundation, is the visual centre of the Coat of Arms, a protea. The petals of the protea are rendered in a triangular pattern reminiscent of the crafts of Africa.

            The secretary bird is placed above the protea and the flower forms the chest of the bird. The secretary bird stands with its wings uplifted in a regal and uprising gesture. The distinctive head feathers of the secretary bird crown a strong and vigilant head.

            The rising sun above the horizon is placed between the wings of the secretary bird and completes the oval shape of ascendance.The combination of the upper and lower oval shapes intersect to form an unbroken infinite course, and the great harmony between the basic elements result in a dynamic, elegant and thoroughly distinctive design. Yet it clearly retains the stability, gravity and immediacy that a Coat of Arms demands.

            The symbols of the new Coat of Arms: The oval shape of Foundation
        </div>
    </div>
    <div class="col-md-1 centerv-block"></div>

</div>
<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">

        <div class="col-md-6">
            <p class="mark2">The design of the new Coat of Arms</p>
            The Coat of Arms is a series of elements organised in distinct symmetric egg-like or oval shapes placed on top of one another. The lower oval shape represents the elements of Foundation
            The first element is the Motto , in a green semicircle. Completing the semicircle are two symmetrically placed pairs of elephant tusks pointing upwards. Within the oval shape formed by the tusks are two symmetrical ears of wheat, that in turn frame a centrally placed gold shield.

            The shape of the shield makes reference to the drum, and contains two human figures from Khoisan rock art. The figures are depicted facing one another in greeting and in unity. Above the shield are placed a spear and a knobkierie, crossed in a single unit. These elements are arranged harmoniously to give focus to the shield and complete the lower oval shape of foundation.
        </div>
        <div class="col-md-6">
            The oval shape of Ascendance
            Immediately above the oval shape of foundation, is the visual centre of the Coat of Arms, a protea. The petals of the protea are rendered in a triangular pattern reminiscent of the crafts of Africa.

            The secretary bird is placed above the protea and the flower forms the chest of the bird. The secretary bird stands with its wings uplifted in a regal and uprising gesture. The distinctive head feathers of the secretary bird crown a strong and vigilant head.

            The rising sun above the horizon is placed between the wings of the secretary bird and completes the oval shape of ascendance.The combination of the upper and lower oval shapes intersect to form an unbroken infinite course, and the great harmony between the basic elements result in a dynamic, elegant and thoroughly distinctive design. Yet it clearly retains the stability, gravity and immediacy that a Coat of Arms demands.

            The symbols of the new Coat of Arms: The oval shape of Foundation
        </div>
    </div>
    <div class="col-md-1 centerv-block"></div>

</div>

<div class="row">
    <div class="col-md-4 center-block">
        <p class="mark">National Animal:<br />Springbuck / Springbok <br />(Antidorcas marsupialis)</p>
        <img src="~/Content/Images/About/Springbok.jpg" class="square200"/>
        <br />Typical of this species is the 'pronk' (jumping display) which lead to its common name. Both sexes have horns but those of the ram are thicker and rougher. This species has adapted to the dry, barren areas and open grass plains and is thus found especially in the Free State, North West Province and in the Karoo up to the west coast. They are herd animals and move in small herds during winter, but often crowd together in bigger herds in summer. They eat both grass and leaves and can go without drinking-water, because they get enough moisture from the succulent leaves. Where drinking-water is available they will use it.Springbuck stand 75 cm high and weigh about 40 kg. They breed throughout the year and lambs are born after a 6-month gestation period.d
    </div>
    <div class="col-md-4 center-block">
        <p class="mark">National Bird:<br />Blue Crane <br />(Anthropoides paradisia)</p>
        <img src="~/Content/Images/About/blue-crane.jpg" />
        <br />This elegant crane, that stands about one meter high, is almost entirely restricted to South Africa in its distribution. The Blue Crane is a light blue-grey, has a long neck supporting a rather bulbous head, long legs and elegant wing plumes which sweep to the ground. It eats seeds, insects and reptiles. Blue Cranes lay their eggs in the bare veld, often close to water. They are quite common in the Karoo, but are also seen in the grasslands of KwaZulu-Natal and the highveld, usually in pairs or small family parties. The Blue Crane has a distinctive rattling croak, 'kraaaarrrk', fairly high-pitched at call, which can be heard from far away. It is, however, usually quiet.The habitat of the Blue Crane is open grass fields or Karoo-like plains with low shrubby bushes. It likes wet parts and lays its two eggs on the ground. It grazes in the field and eats seeds, insects and small reptiles.
       
    </div>
    <div class="col-md-4 center-block">
        <p class="mark">National Fish:<br /> Galjoen <br />(Coracinus capensis)</p>
        <img src="~/Content/Images/About/galjoen.png" />
        <br />The Galjoen is found only along the South African coast. It keeps to mostly shallow water, is often found in rough surf and sometimes right next to the shore and is known to every angler. Near rocks the colour of the Galjoen is almost completely black, while in sandy areas the colour is silver-bronze. It is also known in KwaZulu-Natal as blackfish or black bream. The record size is over 55 cm and 7 kg, however the average is much smaller. The Galjoen is a game fighter. The diet of the Galjoen consists mainly of red bait (ascidians), small mussels and barnacles. The scales are very firmly attached. The fins are well developed with prominent spines.
        
    </div>
</div>

<div class="row">
    <div class="col-md-4 center-block">
        <p class="mark">National Flower:<br />Giant or King Protea <br />(Protea cynaroides)</p>
        <img src="~/Content/Images/About/protea.jpg" class="square200" />
        <br />The Giant or King Protea is widely distributed in the south-western and southern areas of the Western Cape, from the Cedarberg up to just east of Grahamstown. The artichoke-like appearance of the flower-heads of the King Protea lead to the specific name 'cynaroides', which means 'like cynara' (the artichoke). The name does not do justice to the beautiful flower-heads of this protea, which is the largest in the genus. A number of varieties in colour and leaf shapes are found, but the most beautiful is the pink coloured flower.
    </div>
    <div class="col-md-4 center-block">

    </div>
    <div class="col-md-4 center-block">
        <p class="mark">National Tree:<br /> Real Yellowwood <br />(Podocarpus latifolius)</p>
        <img src="~/Content/Images/About/yellowwood.jpg" />
        <br />The Yellowwood family is primeval and has been present in this part of Africa for more than 100 million years. The species is widespread and is found from Table Mountain, along the southern and eastern Cape coast, in the ravines of the Drakensberg up to the Soutpansberg and the Blouberg in the Northern Province. In forests they can grow up to 40 metres in height with the base of the trunk sometimes up to 3 metres in diameter. In contrast, trees that grow in unsheltered places like mountain-slopes, are often short, bushy and gnarled. The bark of the Real Yellowwood is khaki-coloured to grey when it is old, deeply split and peels off in strips. The crown is relatively small in relation to its height and is often covered with grey lichen. Male and female cones resemble pine cones and are white, light green or pink. The female cone has a fleshy podocarpium on which the seed, which takes on the shape and colour of a cherry, develops.

    </div>
</div>
