
@{
    ViewBag.Title = "About - Strategy";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>Strategy</h1>

<h4>Turnaround strategy</h4>
<p>The Turnaround strategy of the National Passenger Rail Company is about repositioning rail over the long-term in the heart of public transport. The strategy is a culmination of almost three years of collaborative work involving the South African Rail Commuter Corporation, Department of Transport, Provincial and Local Government, consultants and other industry stakeholders.</p>
<p>Therefore, the strategy is based on the perspective that the future of public transport lies in harnessing the strengths of each mode to contribute to the overall goals of an efficient and inter-modal transport system.</p>
<p>The Strategy is informed by research information contained in the National Passenger Rail Plan, the Due Diligence Report undertaken by the various stakeholders under the leadership of the Department of Transport to determine the operational and capital requirements of the national passenger rail company as well as the National Household Travel Survey undertaken by the Department of Transport and STATS SA. Overall, the strategy seeks to give effect to the requirements of the National Passenger Rail Plan approved by Cabinet in December 2006.</p>
<p>In addition, it seeks to enhance the provision of integrated, seamless transport for the South African public with intention to transform SARCC into a safe, reliable and hygienic provider of passenger rail services that meet passenger demands. The turnaround strategy will be implemented in a three phased manner:</p>
<ol>
    <li>Stabilisation phase (2007 - 2010)</li>
    <li>Recovery phase (2011 - 2014)</li>
    <li>Growth phase (2015 - 2030)</li>
</ol>
<p> comprehensive operational, human and infrastructure investment strategy support the above phases with complementary, simultaneous implementation of the National Passenger Rail Plan as approved by Cabinet. Through the Vuselela programme SARCC will monitor continuous improvement and progress on key programmes of the Turnaround Strategy.</p>
<p>As PRASA continues to invest in the modernisation of the passenger rail system, Metrorail is expected to deliver quality services to meet customer demands under the prevailing conditions. A Metrorail service Improvement Plan named the 5 Point Plan has been developed and implemented in order to bring about visible and short-term improvements to improve customers’ travel experience whilst the modernisation programme of acquiring new rolling stock, re-signalling and other renewal programmes is being rolled out over the next 5 years.</p>

<p>The 5 Point Plan has been designed to address the key customer concerns around overcrowding, very long and slow travel times, customer friendly timetables and safety. At the heart of this plan is the redesign of Metrorail services to improve journey times and manage overcrowding in trains. All the Metrorail regions have commenced with the implementation of the plan through the introduction of express trains and shuttle services to improve journey times and manage overcrowding. In addition, the programme to accelerate infrastructure improvements to address issues impacting on train service performance such as speed restrictions is currently being implemented.</p>

<p>The railway 5 point plan is a short, medium and long-term technical intervention into the passenger rail service that will change the business and restore some of the positive passenger rail services to customers.</p>

<p>It introduces the following operational efficiencies for service excellence and to prepare for the overall modernisation and new trains:</p>
<ul>
    <li>Introduce service redesign to improve the journey times and manage overcrowding;</li>
    <li>Introduce user-friendly time tables;</li>
    <li>Accelerate infrastructure improvements on Perway, platform interventions, drainage etc.;</li>
    <li>Improve the security of the passengers and assets; and</li>
    <li>Improve operational safety.</li>
</ul>
<p>Since the implementation of the 5 Point Plan, passengers have begun to experience notable improvement on the provision of Metrorail services in relation to on-time performance, reduction of travel times and better management of overcrowding.</p>

<p>Metrorail continues to monitor the impact of the 5 Point Plan through dedicated feedback channels from its customers.</p>

<p>In the longer term there is the Corridor Modernisation plan. The modernisation drive of PRASA requires the organisation to create a new rail business to deliver decent, integrated and quality public transport. Whilst preparing for the delivery of new trains PRASA has to develop new ways of doing business through overhauling the organisation, culture and systems to support and sustain the modernisation drive. This also entails development of staff and appropriate skills and attitudes to fit the requirements of the new public rail system.</p>
