@{
    ViewBag.Title = "Legislation - Basic Conditions Of Employment";
    Layout = "~/Views/Shared/_LayoutLegislation.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <h1>Basic Conditions Of Employment Act</h1>

        <h3>No. 75 of 1997</h3>
        <h3>as ammended by Ammendment Act, No 11 of 2002</h3>
        <div class="field-name-field-heading">Summary</div>
        <div class="default-page-padding">
            <p>This is a popular summary of the most important sections of the Basic Conditions of Employment Act of 1997. Workers must be able to see a summary at their workplaces in the official languages that are spoken there.</p>
        </div>
        <div class="field-name-field-content">
            <ul>
                <li><a href="#1">Who is this Act for? </a></li>
                <li><a href="#2">Working Time </a></li>
                <li><a href="#3">Leave</a></li>
                <li><a href="#4">Job Information and Payment </a></li>
                <li><a href="#5">Termination of Employment </a></li>
                <li><a href="#6">Child Labour and Forced Labour </a></li>
                <li><a href="#7">Variation of Basic Conditions of Employment </a></li>
                <li><a href="#8">Sectoral Determinations </a></li>
                <li><a href="#9">Employment Conditions Commission </a></li>
                <li><a href="#10">Monitoring, Enforcement and Legal Proceedings </a></li>
                <li><a href="#11">General</a></li>
            </ul>
            <hr class="ltgrey" />
            <p>
                <strong><a name="1" id="1"></a>WHO IS THIS ACT FOR?</strong>
            </p>
            <p>The Act applies to all workers and employers except members of the National Defence Force, National Intelligence Agency, South African Secret Service and unpaid volunteers working for charities.</p>
            <p>This Act must be obeyed even if other agreements are different.</p>
            <hr class="ltgrey" />
            <p>
                <strong><a name="2" id="2"></a>WORKING TIME</strong>
            </p>
            <p>This section does not apply to senior managers (those who can hire, discipline and fire), sales staff who travel and workers who work less than 24 hours a month.</p>
            <p><strong>Ordinary Hours of Work </strong></p>
            <p>A worker must NOT work more than:</p>
            <ul>
                <li>45 hours in any week.</li>
                <li>Nine hours a day if a worker works five days or less a week.</li>
                <li>Eight hours a day if a worker works more than five days a week.</li>
            </ul>
            <p><strong>Overtime </strong></p>
            <p>If overtime is needed, workers must agree to do it and they may not work for more than three hours overtime a day or ten hours overtime a week.</p>
            <p>Overtime must be paid at 1.5 times the workers' normal pay or, by agreement, get paid time off.</p>
            <p>More flexibility of working time can be negotiated if there is a collective agreement with a registered trade union. For example, this can allow more flexible hours for working mothers and migrant workers.</p>
            <ul>
                <li>Compressed work week: You may agree to work up to 12 hours in a day and work fewer days in a week. This can help working mothers and migrant workers by having a longer weekend.</li>
                <li>Averaging: A collective agreement may permit the hours of work to be averaged over a period of up to four months. A worker who is bound by such an agreement cannot work more than an average of 45 ordinary hours a week and an average of five hours of overtime a week over the agreed period. A collective agreement for averaging has to be re-negotiated each year.</li>
            </ul>
            <p><strong>Meal Breaks and Rest Periods </strong></p>
            <p>A worker must have a meal break of 60 minutes after five hours' work. But a written agreement may lower this to 30 minutes and do away with the meal break if the worker works less than six hours a day.</p>
            <p>A worker must have a daily rest period of 12 continuous hours and a weekly rest period of 36 continuous hours, which, unless otherwise agreed, must include Sunday.</p>
            <p><strong>Sunday Work </strong></p>
            <p>A worker who sometimes works on a Sunday must get double pay. A worker who normally works on a Sunday must be paid at 1.5 times the normal wage. There may be an agreement for paid time off instead of overtime pay.</p>
            <p><strong>Night Work </strong></p>
            <p>Night work is unhealthy and can lead to accidents. That is, workers working between 18:00 at night and 06:00 in the morning must get extra pay or be able to work fewer hours for the same amount of money.</p>
            <p>Transport must be available but not necessarily provided by the employer.</p>
            <p>Workers who usually work between 23:00 at night and 06:00 in the morning must be told of the health and safety risks. They are entitled to regular medical check-ups, paid for by the employer. They must be moved to a day shift if night work develops into a health problem. All medical examinations must be kept confidential.</p>
            <p><strong>Public Holidays </strong></p>
            <p>Workers must be paid for any public holiday that falls on a working day. Work on a public holiday is by agreement and paid at double the rate. A public holiday is exchangeable by agreement.</p>
            <hr class="ltgrey" />
            <p>
                <strong><a name="3" id="3"></a>LEAVE</strong>
            </p>
            <p><strong>Annual Leave </strong></p>
            <p>A worker can take up to 21 continuous days' annual leave or by agreement, one day for every 17 days worked or one hour for every 17 hours worked.</p>
            <p>Leave must be taken not later than six months after the end of the leave cycle.</p>
            <p>An employer can only pay a worker instead of giving leave if that worker leaves the job.</p>
            <p><strong>Sick Leave </strong></p>
            <p>A worker can take up to six weeks' paid sick leave during a 36-month cycle.</p>
            <p>During the first six months, a worker can take one day's paid sick leave for every 26 days worked.</p>
            <p>An employer may want a medical certificate before paying a worker who is sick for more than two days at a time or more than twice in eight weeks.</p>
            <p><strong>Maternity Leave </strong></p>
            <p>A pregnant worker can take up to four continuous months of maternity leave. She can start leave any time from four weeks before the expected date of birth OR on a date a doctor or midwife says is necessary for her health or that of her unborn child. She also may not work for six weeks after the birth of her child unless declared fit to do so by a doctor or midwife.</p>
            <p>A pregnant or breastfeeding worker is not allowed to perform work that is dangerous to her or her child.</p>
            <p><strong>Family Responsibility Leave </strong></p>
            <p>Full-time workers employed longer than four months can take three days' paid family responsibility leave per year on request when the worker's child is born or sick or for the death of the worker's spouse or life partner, parent, adoptive parent, grandparent, child, adopted child, grandchild or sibling.</p>
            <p>An employer may want proof that this leave was needed.</p>
            <hr class="ltgrey" />
            <p>
                <strong><a id="4" name="4"></a>JOB INFORMATION AND PAYMENT</strong>
            </p>
            <p><strong>Job Information </strong></p>
            <p>Employers must give new workers information about their job and working conditions in writing. This includes a description of any relevant council or sectoral determination and a list of any other related documents.</p>
            <p><strong>Keeping Records </strong></p>
            <p>Employers must keep a record of at least:</p>
            <ul>
                <li>The worker's name and job.</li>
                <li>Time worked.</li>
                <li>Money paid.</li>
                <li>Date of birth for workers under 18 years old.</li>
            </ul>
            <p><strong>Payment </strong></p>
            <p>An employer must pay a worker:</p>
            <ul>
                <li>In South African money.</li>
                <li>Daily, weekly, fortnightly or monthly.</li>
                <li>In cash, cheque or direct deposit.</li>
            </ul>
            <p><strong>Payslip Information </strong></p>
            <p>Each payslip must include:</p>
            <ul>
                <li>Employer's name and address.</li>
                <li>Worker's name and job.</li>
                <li>Period of payment.</li>
                <li>Worker's pay.</li>
                <li>Amount and purpose of any deduction made from the pay.</li>
                <li>Actual amount paid to the worker.</li>
            </ul>
            <p>If needed to add up the worker's pay, the payslip must also include:</p>
            <ul>
                <li>Ordinary pay rate and overtime pay rate.</li>
                <li>Number of ordinary and overtime hours worked during that period of payment.</li>
                <li>Number of hours worked on a Sunday or public holiday during that period.</li>
                <li>Total number of ordinary and overtime hours worked in the period of averaging, if there is an averaging agreement.</li>
            </ul>
            <p><strong>Approved Deductions </strong></p>
            <p>An employer may not deduct any money from a worker's pay unless:</p>
            <ul>
                <li>That worker agrees in writing.</li>
                <li>The deduction is required by law or permitted in terms of a law, collective agreement, court order or arbitration award.</li>
            </ul>
            <p><strong>Adding up Wages </strong></p>
            <ul>
                <li>Wages are based on the number of hours normally worked.</li>
                <li>Monthly pay is four and 1/3 times the weekly wage.</li>
            </ul>
            <hr class="ltgrey" />
            <p>
                <strong><a id="5" name="5"></a>TERMINATION OF EMPLOYMENT</strong>
            </p>
            <p><strong>Notice </strong></p>
            <p>A worker or employer must give notice to end an employment contract of not less than:</p>
            <ul>
                <li>One week, if employed for six months or less.</li>
                <li>Two weeks, if employed for more than six months but not more than one year.</li>
                <li>Four weeks, if employed for one year or more.</li>
            </ul>
            <p>Notice must be in writing except from a worker who cannot write.</p>
            <p>Workers who stay in employer's accommodation must be given one month's notice of termination of the contract or be given alternative accommodation until the contract is lawfully terminated.</p>
            <p>An employer giving notice does not stop a worker from challenging the dismissal in terms of the Labour Relations Act or any other law.</p>
            <p><strong>Severance Pay </strong></p>
            <p>An employer must pay a worker who is dismissed due to the employer's operational requirement pay equal to at least one week's severance pay for every year of continuous service with that employer.</p>
            <p><strong>Certificate of Service </strong></p>
            <p>When a job ends, a worker must be given a certificate of service.</p>
            <p>
                <strong><a id="6" name="6"></a>CHILD LABOUR AND FORCED LABOUR </strong>
            </p>
            <ul>
                <li>It is against the law to employ a child under 15 years old.</li>
                <li>Children under 18 may not do dangerous work or work meant for an adult.</li>
                <li>It is against the law to force someone to work.</li>
            </ul>
            <hr class="ltgrey" />
            <p>
                <strong><a id="7" name="7"></a>VARIATION OF BASIC CONDITIONS OF EMPLOYMENT</strong>
            </p>
            <p><strong>Bargaining Council </strong></p>
            <p>A collective agreement concluded by a bargaining council can be different from this law as long it does not:</p>
            <ul>
                <li>Lower protection of workers in terms of health and safety and family responsibilities.</li>
                <li>Lower annual leave to less than two weeks.</li>
                <li>Lower maternity leave in any way.</li>
                <li>Lower sick leave in any way.</li>
                <li>Lower protection of night workers.</li>
                <li>Allow for any child labour or forced labour.</li>
            </ul>
            <p><strong>Other Agreements </strong></p>
            <p>Collective agreements and individual agreements must follow the Act.</p>
            <p><strong>The Minister </strong></p>
            <p>The Minister of Labour may make a determination to vary or exclude a basic condition of employment. This can also be done on application by an employer or employer organisation.</p>
            <hr class="ltgrey" />
            <p>
                <strong><a id="8" name="8"></a>SECTORAL DETERMINATIONS</strong>
            </p>
            <p>Sectoral determinations may be made to establish basic conditions for workers in a sector and area.</p>
            <hr class="ltgrey" />
            <p>
                <strong><a id="9" name="9"></a>EMPLOYMENT CONDITIONS COMMISSION</strong>
            </p>
            <p>This Act makes provision for the Employment Conditions Commission to advise the Minister of Labour.</p>
            <hr class="ltgrey" />
            <p>
                <strong><a id="10" name="10"></a>MONITORING, ENFORCEMENT AND LEGAL PROCEEDINGS</strong>
            </p>
            <p>Labour inspectors must advise workers and employers on their labour rights and obligations. They inspect, investigate complaints, question people and inspect, copy and remove records.</p>
            <p>An inspector may serve a compliance order to a compliance order by writing to the Director General of the Department of Labour, who will then look at the facts and agree, change or cancel the order.</p>
            <p>This decision can be challenged in the Labour Court.</p>
            <p>Workers may not be treated unfairly for demanding their rights in terms of this Act.</p>
            <hr class="ltgrey" />
            <p>
                <strong><a id="11" name="11"></a>GENERAL</strong>
            </p>
            <p>It is a crime to:</p>
            <ul>
                <li>Hinder, block or try to wrongly influence a labour inspector or any other person obeying this Act.</li>
                <li>Get or try to get a document by stealing, lying or showing a false or forged document.</li>
                <li>Pretend to be a labour inspector or any other person obeying this Act.</li>
                <li>Refuse or fail to answer fully any lawful question asked by a labour inspector or any other person obeying this Act.</li>
                <li>Refuse or fail to obey a labour inspector or any other person obeying this Act.</li>
            </ul>
        </div>
        (From <a href="http://www.westerncape.gov.za/general-publication/basic-conditions-employment-act-summary" target="_blank">Western Cape Government Site</a>)
        <br /><br />
    </div>
    <div class="col-md-3">
        Click to download the full act pdf
        <br />
        <br />
        <a class="btn btn-default" href="~/Content/Docs/Legislation/Basic%20Conditions%20of%20Employment.pdf" target="_blank">Download</a>
    </div>


