@{
    ViewBag.Title = "Legislation - Employment Equity Act";
    Layout = "~/Views/Shared/_LayoutLegislation.cshtml";
}

<div class="row">
    <div class="col-md-9">
        <h1>Employment Equity Act</h1>
        <h3>No. 55 Of 1998</h3>
        <p>Applies to all employers and workers and protects workers and job seekers from unfair discrimination, and also provides a framework for implementing affirmative action.</p>
        <a href="~/Content/Docs/Legislation/Employment%20Equity%20Act.pdf" target="_blank">Download the full act document</a>
        <br /><br />
    </div>
    <div class="col-md-3">
        Click to download the full act pdf
        <br /><br />
        <a class="btn btn-default" href="~/Content/Docs/Legislation/Employment%20Equity%20Act.pdf" target="_blank">Download</a>

    </div>
</div>