@{
    ViewBag.Title = "Legislation";
    Layout = "~/Views/Shared/_LayoutLegislation.cshtml";
}


<div class="row">
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/Legislation/BasicConditionsOfEmployment"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/Employment.jpg" alt="Basic Conditions Of Employment"></a>
            <div class="item-content padding10">
                <h3>Basic Conditions Of Employment</h3>
                Basic Conditions Of Employment Act No. 75 of 1997 as ammended by Ammendment Act, No 11 of 2002...
                <a class="btn pull-right btnlnk" href="~/Legislation/BasicConditionsOfEmployment">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/Legislation/PublicFinanceManagementAct"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/FinanceAct.jpg" alt="Public Finance Management Act"></a>
            <div class="item-content padding10">
                <h3>Public Finance Management Act</h3>
                The Public Finance Management Act 1999 is one of the most important pieces of legislation...
                <a class="btn pull-right btnlnk" href="~/Legislation/PublicFinanceManagementAct">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/Legislation/EmploymentEquityAct"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/EmployeeEquity.jpg" alt="Employment Equity Act"></a>
            <div class="item-content padding10">
                <h3>Employment Equity Act</h3>
                Employment Equity Act No. 55 Of 1998 Applies to all employers and workers...
                <a class="btn pull-right btnlnk" href="~/Legislation/EmploymentEquityAct">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/Legislation/SkillsDevelopmentAct"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/SkillsDevelopment.jpg" alt="Skills Development Act"></a>
            <div class="item-content padding10">
                <h3>Skills Development Act</h3>
                Skills Development Act No. 97 of 1998 To provide an institutional framework...
                <a class="btn pull-right btnlnk" href="~/Legislation/SkillsDevelopmentAct">Read more</a>
            </div>
        </article>
    </div>
</div>