@{
    ViewBag.Title = "Legislation";
    Layout = "~/Views/Shared/_LayoutLegislation.cshtml";
}


<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/Legislation/BasicConditionsOfEmployment">
                <img src="~/Content/Images/Employment.jpg" width="115" height="113" alt="Basic Conditions of Employment">
                <div class="caption">
                    <h3>Basic Conditions Of Employment</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/Legislation/PublicFinanceManagementAct">
                <img src="~/Content/Images/FinanceAct.jpg" width="115" height="113" alt="Public Finance Management Act">
                <div class="caption">
                    <h3>Public Finance Management Act</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/Legislation/EmploymentEquityAct">
                <img src="~/Content/Images/EmployeeEquity.jpg" width="115" height="113" alt="Employment Equity Act">
                <div class="caption">
                    <h3>Employment Equity Act</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/Legislation/SkillsDevelopmentAct">
                <img src="~/Content/Images/SkillsDevelopment.jpg" width="115" height="113" alt="Skills Development Act">
                <div class="caption">
                    <h3>Skills Development Act</h3>
                </div>
            </a>
        </div>
    </div>
</div>