@{
    ViewBag.Title = "Legislation - Labour Relations Act";
    Layout = "~/Views/Shared/_LayoutLegislation.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <h1>Labour Relations Act</h1>
        <h3>No. 66 of 1995</h3>

        <p>The Labour Relations Act (LRA), Act 66 of 1995 aims to promote economic development, social justice, labour peace and democracy in the workplace.</p>
        <a href="~/Content/Docs/Legislation/Labour%20Relations%20Act.pdf" target="_blank">Download the full act document</a>
        <br /><br />
    </div>
    <div class="col-md-3">
        Click to download the full act pdf
        <br /><br />
        <a class="btn btn-default" href="~/Content/Docs/Legislation/Labour%20Relations%20Act.pdf" target="_blank">Download</a>
    </div>
</div>