@{
    ViewBag.Title = "Legislation - Public Finance Management Act";
    Layout = "~/Views/Shared/_LayoutLegislation.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <h1>Public Finance Management Act</h1>
        <h3>No.1 of 1999 as amended by Act 29 of 1999</h3>
        <h4>Introduction</h4>
        <p>The Public Finance Management Act (PFMA), 1999 (Act No. 1 of 1999) (as amended by Act No. 29 of 1999) is one of the most important pieces of legislation passed by the first democratic government in South Africa. The Act promotes the objective of good financial management in order to maximise service delivery through the effective and efficient use of the limited resources.</p>

        <p>The key objectives of the Act may be summarized as being to:</p>
        <ul>
            <li>Modernise the system of financial management in the public sector;
            <li>Enable public sector managers to manage, but at the same time be held more accountable;
            <li>Ensure the timely provision of quality information; and
            <li>Eliminate the waste and corruption in the use of public assets.
        </ul>
        <p>The Act, which came into effect from 1 April 2000, gives effect to sections 213 and 215 to 219 of The Constitution of the Republic of South Africa, 1996 (Act No. 108 of 1996) for the national and provincial spheres of government. These sections require national legislation to establish a national treasury, to introduce uniform treasury norms and standards, to prescribe measures to ensure transparency and expenditure control in all spheres of government, and to set the operational procedures for borrowing, guarantees, procurement and oversight over the various national and provincial revenue funds.</p>

        <p>The PFMA adopts an approach to financial management, which focuses on outputs and responsibilities rather than the rule driven approach of the previous Exchequer Acts. The Act is part of a broader strategy on improving financial management in the public sector.</p>
        <a href="~/Content/Docs/Legislation/publicfinanceact.pdf" target="_blank">Download the full act document</a>
        <br /><br />
    </div>
    <div class="col-md-3">
        Click to download the full act pdf
        <br /><br />
        <a class="btn btn-default" href="~/Content/Docs/Legislation/publicfinanceact.pdf" target="_blank">Download</a>
        
    </div>
</div>
