@{
    ViewBag.Title = "Legislation - Skills Development Act";
    Layout = "~/Views/Shared/_LayoutLegislation.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <h1>Skills Development Act</h1>
        <h3>No. 97 of 1998</h3>

        <p>To provide an institutional framework</p>
        <ul> 
            <li>to devise and implement national, sector and workplace strategies to develop and improve the skills of the South African workforce;</li>
            <li>to integrate those strategies within the National Qualifications Framework contemplated in the South African Qualifications Authority Act, 1995;</li> 
            <li>to provide for learnerships that lead to recognised occupational qualifications; </li>
            <li>to provide for the financing of skills development by means of a levy-financing scheme and a National Skills Fund; </li>
            <li>to provide for and regulate employment services; </li>
            <li>and to provide for matters connected therewith.</li>
        </ul>
        <a href="~/Content/Docs/Legislation/Skills%20Development%20Act.pdf" target="_blank">Download the full act document</a>
        <br /><br />
    </div>
    <div class="col-md-3">
        Click to download the full act pdf
        <br /><br />
        <a class="btn btn-default" href="~/Content/Docs/Legislation/Skills%20Development%20Act.pdf" target="_blank">Download</a>
    </div>
</div>