<!DOCTYPE html>
@{
    Layout = "_Layout.cshtml";
    string[] pages = { "Upcoming", "Archive" };
}

<div class="row"><p></p></div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="jumbotron-events">

            <a class="navbar-brand" href="~/Events">
                <h1>
                    Events...
                </h1>
            </a>
            <br /><br /><br /><br />
            <p class="lead">Don't miss events happening in your department or company-wide!</p>
            <br /><br />


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    @{
                        foreach (var page in pages)
                        {
                            if (ViewBag.Title == "Events - " + page)
                            {
                                <li class="active">
                                    @Html.ActionLink(page, page.Replace(" ", ""), "Events")
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink(page, page.Replace(" ", ""), "Events")
                                </li>
                            }
                        }
                    }

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </div>
</nav>
        @RenderBody()

