<!DOCTYPE html>
@{
    Layout = "_Layout.cshtml";
    string[][] pages = { new string[] {"History", "History"}, new string[] { "Who Is Who", "WhoIsWho" }, new string[] { "Introduction", "CompanyIntroduction" }, new string[] { "Commitment", "Commitment" }, new string[] { "Core Value", "CoreValue" }, new string[] { "Policies", "CompanyPolicies" }, new string[] { "Procedures", "Procedures" }, new string[] { "Stakeholders", "Stakeholders" }, new string[] { "Government", "Government" }, new string[] { "Strategy", "Strategy" } };
}

<div class="row"><p></p></div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="jumbotron-about">

            <a class="navbar-brand" href="~/About">
                <h1>
                    About us...
                </h1>
            </a>
            <br /><br /><br /><br />
            <p class="lead">Meet the team, learn about our core values!</p>
            <br /><br />

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav small-nav">

                    @{
                        foreach (var page in pages)
                        {
                            if (ViewBag.Title == "About - " + page[0])
                            {
                                <li class="active">
                                    @Html.ActionLink(page[0], page[1], "About")
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink(page[0], page[1], "About")
                                </li>
                            }
                        }
                    }



                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
        </div><!-- /.container-fluid -->
</nav>
        @RenderBody()

