@{
    ViewBag.Title = "For Me - Food";
    Layout = "~/Views/Shared/_LayoutForMe.cshtml";
}

<h1>Food</h1>

<div class="row">
    <div class="col-md-4 center-block"></div>
    <div class="col-md-4 center-block">
        <blockquote>
            <p class="italic smalltext">Eating is not merely a material pleasure. Eating well gives a spectacular joy to life and contributes immensely to goodwill and happy companionship. It is of great importance to the morale.</p>
            <footer>Elsa Schiaparelli</footer>
        </blockquote>
    </div>
    <div class="col-md-4 center-block"></div>
</div>

<h3>Restaurant menus</h3>

<div class="row">
    <div class="col-md-3 center-block">
        Anat
        <br />
        <a href="~/Content/Images/ForMe/AnatMenu.pdf" target="_blank"><img src="~/Content/Images/ForMe/Anat.jpg" /></a>
    </div>
    <div class="col-md-3 center-block">
        Fish And Chips
        <br />
        <a href="~/Content/Images/ForMe/FishAndChips.pdf" target="_blank"><img src="~/Content/Images/ForMe/FishAndChips.jpg" /></a>
    </div>
    <div class="col-md-3 center-block">
        Wandie's Place
        <br />
        <a href="~/Content/Images/ForMe/Wandies.pdf" target="_blank"><img src="~/Content/Images/ForMe/Wandies.jpg" /></a>
    </div>
    <div class="col-md-3 center-block">
        Nandos
        <br />
        <a href="~/Content/Images/ForMe/Nandos.pdf" target="_blank"><img src="~/Content/Images/ForMe/Nandos.jpg" /></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3 center-block">
        Debonairs
        <br />
        <a href="~/Content/Images/ForMe/Debonairs.pdf" target="_blank"><img src="~/Content/Images/ForMe/Debonairs.jpg" /></a>
    </div>
    <div class="col-md-3 center-block">
        Chesa Nyama
        <br />
        <a href="~/Content/Images/ForMe/ChesaNyama.pdf" target="_blank"><img src="~/Content/Images/ForMe/ChesaNyama.jpg" /></a>
    </div>
    <div class="col-md-3 center-block">
        Chicken Licken
        <br />
        <a href="~/Content/Images/ForMe/ChickenLicken.pdf" target="_blank"><img src="~/Content/Images/ForMe/ChickenLicken.jpg" /></a>
    </div>
    <div class="col-md-3 center-block">
        Wimpy
        <br />
        <a href="~/Content/Images/ForMe/Wimpy.pdf" target="_blank"><img src="~/Content/Images/ForMe/Wimpy.png" /></a>
    </div>
</div>
<br />