@{
    ViewBag.Title = "For Me";
    Layout = "~/Views/Shared/_LayoutForMe.cshtml";
}



<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ForMe/Benefits">
                <img src="~/Content/Images/Benefits2.jpg" width="115" height="113" alt="Benefits">
                <div class="caption">
                    <h3>Benefits</h3>
                </div>
                </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ForMe/Vacancies">
                <img src="~/Content/Images/Vacancies.jpg" width="115" height="113" alt="Vacancies">
                <div class="caption">
                    <h3>Vacancies</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ForMe/WellnessAndLifestyle">
                <img src="~/Content/Images/Wellness.jpg" width="115" height="113" alt="Wellness & Lifestyle">
                <div class="caption">
                    <h3>Wellness & Lifestyle</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ForMe/Food">
                <img src="~/Content/Images/Food.jpg" width="115" height="113" alt="Food">
                <div class="caption">
                    <h3>Food</h3>
                </div>
            </a>
        </div>
    </div>
</div>