@{
    ViewBag.Title = "For Me";
    Layout = "~/Views/Shared/_LayoutForMe.cshtml";
}



<div class="row">
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/ForMe/Benefits"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/Benefits2.jpg" alt="Benefits"></a>
            <div class="item-content">
                <h3>Benefits</h3>
                <br />Be informed about benifits you are entitled to....
                <a class="btn pull-right btnlnk" href="~/ForMe/Benefits">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/ForMe/Vacancies"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/Vacancies.jpg" alt="Vacancies"></a>
            <div class="item-content">
                <h3>Vacancies</h3>
                <br />There are no constraints on the human mind, no walls around the human spirit....
                <a class="btn pull-right btnlnk" href="~/ForMe/Vacancies">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/ForMe/WellnessAndLifestyle"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/Wellness.jpg" alt="Wellness & Lifestyle"></a>
            <div class="item-content">
                <h3>Wellness</h3>
                <br />Health is a state of complete physical, mental and social well-being....
                <a class="btn pull-right btnlnk" href="~/ForMe/WellnessAndLifestyle">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/ForMe/Food"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/Food.jpg" alt="Food"></a>
            <div class="item-content">
                <h3>Food</h3>
                <br />Eating is not merely a material pleasure. Eating well gives a spectacular joy to life....
                <a class="btn pull-right btnlnk" href="~/ForMe/Food">Read more</a>
            </div>
        </article>
    </div>
    </div>