@{
    ViewBag.Title = "For Me - Vacancies";
    Layout = "~/Views/Shared/_LayoutForMe.cshtml";
}

<h1>Vacancies</h1>

<div class="row">
    <div class="col-md-4 center-block"></div>
    <div class="col-md-4 center-block">
        <blockquote>
            <p class="italic smalltext">There are no constraints on the human mind, no walls around the human spirit, no barriers to our progress except those we ourselves erect.</p>
            <footer>Ronald Reagan</footer>
        </blockquote>
    </div>
    <div class="col-md-4 center-block"></div>
</div>

