@{
    ViewBag.Title = "For Me - Wellness And Lifestyle";
    Layout = "~/Views/Shared/_LayoutForMe.cshtml";
}

<div class="row">
    <div class="col-md-3 center-block">
        <img src="~/Content/Images/ForMe/Wellness.jpg" class="center-block square100" />
    </div>
    <div class="col-md-5 center-block">
        <h1>Wellness Articles</h1>
    </div>
</div>
<br />

<div class="coming-soon">Content coming soon...</div>