@{
    ViewBag.Title = "For Me - Wellness And Lifestyle";
    Layout = "~/Views/Shared/_LayoutForMe.cshtml";
}

<div class="row">
    <div class="col-md-3 center-block">
        <img src="~/Content/Images/ForMe/Alcohol.jpg" class="center-block square100" />
    </div>
    <div class="col-md-5 center-block">
        <h1>Wellness - Alcohol</h1>
    </div> 
</div>
<br />

<div class="row">
    <div class="col-md-6">
        <p class="mark"> What happens when you drink alcohol?</p>
        <p>Within five minutes of consuming alcohol, it enters the blood stream via the stomach. The effects can last for several hours.
        <p>Alcohol is a nervous system depressant and after three units, makes people less socially inhibited and generally more relaxed. A unit contains eight grams of alcohol and consists of one large beer, one glass of wine or one pub measure of spirits.
        <p>After eight units, most people will slur their speech and become clumsy, uncoordinated and sometimes very emotional. If more alcohol is consumed, double vision, nausea, loss of balance and vomiting can occur. Further drinking may lead to unconsciousness and memory loss.
        <p>Many things influence the effects alcohol has on particular people: their body weight, the speed with which the alcohol was consumed, how full or empty the stomach of the drinker was, their emotional state, their drinking habits and their personality or surroundings.
        </p>
    </div>
    <div class="col-md-6">
        <p class="mark">One drink, one too many</p>
        <p>That single beer you have at lunch may be more dangerous than you think.
        <p>A British study found that just one lunchtime drink that gives you a blood alcohol level that would easily pass a breathalyser test could still be dangerous when you drive. That's because of booze's impact on a natural afternoon dip in mental alertness.
        <p>The effect is even more pronounced for drivers who haven't slept well the previous night.
        <p class="mark2">What the research team looked at</p>
        <ul>
            <li>The researchers tested the alertness of a dozen young and healthy men, aged 20 to 26. They were told to drive for two hours in the afternoon in a fully functioning stationary car on a simulated road.
            <li>The men's driving skills were tested after they drank small amounts of alcohol or a non-alcoholic equivalent. Their driving skills were tested both after a night of normal sleep and after a night of disturbed sleep.
            <li>The men's lane drift while driving, subjective levels of sleepiness, and brain wave activity were measured by the researchers.
        </ul>
        <p class="mark2">Combination of factors at play</p>
        <ul>
            <li>They found that both the afternoon dip in alertness, caused by natural fluctuations in the body clock, and/or a disturbed night's sleep, and alcohol independently increased the amount of lane drift, a common factor in crashes caused by driver sleepiness.
            <li>The men noticed these effects, which also registered on the brain wave recordings.
            <li>The study found a combination of alcohol and sleepiness significantly worsened the amount of lane drift experienced by the men. This combined impact did register on brain wave measurements, but the drivers themselves didn't notice the additional effect of the alcohol/sleepiness combination.
        </ul>
        The study appears in the September issue of Occupational and Environmental Medicine . - (HealthDayNews)
    </div>
</div>
