@{
    ViewBag.Title = "For Me - Wellness And Lifestyle";
    Layout = "~/Views/Shared/_LayoutForMe.cshtml";
}

<div class="row">
    <div class="col-md-3 center-block">
        <img src="~/Content/Images/ForMe/Stress.jpg" class="center-block square100" />
    </div>
    <div class="col-md-5 center-block">
        <h1>Wellness - Stress</h1>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-6">
        <p class="mark"> Stress – how does one cope?</p>
        <p>If you are not going to use “stress-eating” as your coping mechanism – what can you do?
            There are many constructive and positive coping mechanisms out there. Here are some of them.
        </p>
        <ul>
            <li><p class="mark2">Take charge of your stress</p>
                    This is the first thing you need to do, otherwise it will take charge of you– resulting in you becoming a victim. However, don't worry about that which you can't control! Find coping mechanisms that can minimise the stress. Not only will you feel better psychologically but you'll benefit physiologically too. Cortisol levels (discussed in part 1) will lower, thereby minimising the potential harmful effects on your health.
            <li>
                <p class="mark2"> Let your self-talk be positive! </p>
                The saying, “What you think - you become” is all too true! The trick here is to block out those voices in your head that say you can't manage or will fail and to purposefully replace them with powerful positive statements. You have to be disciplined to do this but you WILL reap the rewards as you begin to act on the positive thoughts.
            <li>
                <p class="mark2"> Get active!  </p>
                Exercise is probably THE best stress-reliever ever. Researchers have found that after 30 minutes of moderate exercise, their subjects scored 25% lower on psychometric tests measuring anxiety and showed other favourable changes in brain activity. Physical activity also decreases depressive symptoms and anxiety, improves self-esteem and enhances alertness and reaction time (Schomer, H and B. Drake 2001) – all of which could be a problem when one is faced with excess stress.
                Moderate exercise also decreases cortisol production during stressful periods. Preferably try to do some outdoor exercise in a beautiful environment, but if this isn't an option – select an alternative. The gym might not de-stress you as effectively – but at least the endorphins might help!
            <li>
                <p class="mark2"> Watch what you eat  </p>
                Eating poorly as a means of “coping with stress” won't help at all – in fact it will just make you feel worse and less able to cope. It's important to keep your blood glucose regulated, by eating small, balanced, healthy meals throughout the day. You can't go wrong with plenty of fish, salads, fresh fruit and veggies with some gentle spices for flavouring. Stay away from high fat, highly refined foods and go easy on the alcohol.
            <li>
                <p class="mark2"> Get adequate sleep   </p>
                Sleep is incredibly restorative to the body, especially the nervous system and adrenal glands, so ensure you get enough of it! Different people require different amounts of sleep, but on average, aim to sleep for about 8 hours a night. Sleep deprivation affects blood glucose levels, reduces the production of the human growth hormone, increases the production of cortisol and reduces the production of leptin (a hormone that signals satiety).
            <li>
                <p class="mark2"> Get away at least once a day  </p>
                Take 15 –30 minutes each day when you are completely alone to listen to soothing or uplifting music or to read an inspiring book. Perhaps sit under a tree and look at the sky; feel the wind in your hair and hear the rustling of the leaves. This will take you “out of yourself” and you will feel more peaceful.
            <li>
                <p class="mark2">  Interact with kids  </p>
                Their free spirits and light-heartedness almost always help us to see things differently.
            <li>
                <p class="mark2"> Book yourself an aromatherapy massage and be good to yourself </p>
                Research shows that touch works wonders for stress and it breaks down the social distancing that highly stressed people can create. It needn't even be from someone close to you (although that might be first prize) – so book yourself in for a massage – a good scientific justification for some self-indulgence! A daily hug from someone special can help too!
            <li>
                <p class="mark2"> Chat to a friend   </p>
                It's amazing how vocalising and sharing worries with someone close to you, lightens the load and helps one to see issues in a different perspective.
            <li>
                <p class="mark2"> Write </p>
                Write about your worries as well as how you might overcome them in diary style or as a letter to a friend. This might stimulate more creative ways of dealing with stress, especially when your mind feels cluttered with issues.

            <li>
                <p class="mark2"> Say “no” and try to get into a routine </p>
                If you are struggling to cope, don't be afraid to say no to projects that won't fit into your time schedule or that will compromise your mental health. You might feel bad initially, but you've got to get your priorities straight and your health has to be very high on that list. Establishing a routine can help you if you feel that you are spinning out of control.
            <li>
                <p class="mark2"> Consider the following  </p>
                Exercise is probably THE best stress-reliever ever. Researchers have found that after 30 minutes of moderate exercise, their subjects scored 25% lower on psychometric tests measuring anxiety and showed other favourable changes in brain activity. Physical activity also decreases depressive symptoms and anxiety, improves self-esteem and enhances alertness and reaction time (Schomer, H and B. Drake 2001) – all of which could be a problem when one is faced with excess stress.
                Moderate exercise also decreases cortisol production during stressful periods. Preferably try to do some outdoor exercise in a beautiful environment, but if this isn't an option – select an alternative. The gym might not de-stress you as effectively – but at least the endorphins might help!
            <li>
                <p class="mark2"> Get active!  </p>
                Every night, before you go to sleep, think of a new thing for which you are grateful. Choose something you have not consciously thought of before.
        </ul>
        Healthy lifestyle choices go a long way to help you to cope with stress, thereby empowering you to deal more effectively with it. Follow the “Shape up for Summer Programme” and you should be well on your way to coping wonderfully.
        References

        Greenspan F. & Baxter J 1994. Basic and Clinical Endocrinology (4th ed, pp 316–9). Norwalk, CT: Appleton & Lange.
        Rosmond R., et al. 2000. Food-induced cortisol secretion in relation to anthropometric, metabolic and haemodynamic variables in men. International Journal of Obesity, 24, 416 – 22.
        Simonson M. 1990. Obesity may be linked to poor management of stress. Obesity 90 update (Sept/Oct), 3.
        Schomer, H and Drake B. 2001 Physical activity and mental health. International Sports Medicine Journal, 2 (3).
        Brooks et al. 3rd edition 2000 Exercise Physiology: Human Bioenergetics and its applications.
        - Kathleen Mc Quaide (exercise physiologist and educationalist): Health Promotions Manager at the Sports Science Institute of South Africa (SSISA) and OptiFit Walk and Run Health Programme Director. For more information about the health, wellness and fitness services offered at SSISA, visit our website
        http//:www.ssisa.co.za or phone 021 659 5600.
    </div>
    <div class="col-md-6">
        <p class="mark">One drink, one too many</p>
        <p>That single beer you have at lunch may be more dangerous than you think.
        <p>A British study found that just one lunchtime drink that gives you a blood alcohol level that would easily pass a breathalyser test could still be dangerous when you drive. That's because of booze's impact on a natural afternoon dip in mental alertness.
        <p>The effect is even more pronounced for drivers who haven't slept well the previous night.
        <p class="mark2">What the research team looked at</p>
        <ul>
            <li>The researchers tested the alertness of a dozen young and healthy men, aged 20 to 26. They were told to drive for two hours in the afternoon in a fully functioning stationary car on a simulated road.
            <li>The men's driving skills were tested after they drank small amounts of alcohol or a non-alcoholic equivalent. Their driving skills were tested both after a night of normal sleep and after a night of disturbed sleep.
            <li>The men's lane drift while driving, subjective levels of sleepiness, and brain wave activity were measured by the researchers.
        </ul>
        <p class="mark2">Combination of factors at play</p>
        <ul>
            <li>They found that both the afternoon dip in alertness, caused by natural fluctuations in the body clock, and/or a disturbed night's sleep, and alcohol independently increased the amount of lane drift, a common factor in crashes caused by driver sleepiness.
            <li>The men noticed these effects, which also registered on the brain wave recordings.
            <li>The study found a combination of alcohol and sleepiness significantly worsened the amount of lane drift experienced by the men. This combined impact did register on brain wave measurements, but the drivers themselves didn't notice the additional effect of the alcohol/sleepiness combination.
        </ul>
        The study appears in the September issue of Occupational and Environmental Medicine . - (HealthDayNews)
    </div>
</div>