@{
    ViewBag.Title = "For Me - Wellness And Lifestyle";
    Layout = "~/Views/Shared/_LayoutForMe.cshtml";
}

<h1>Wellness And Lifestyle</h1>

<div class="row">
    <div class="col-md-4 center-block"></div>
    <div class="col-md-4 center-block">
        <blockquote>
            <p class="italic smalltext">Health is a state of complete physical, mental and social well-being, and not merely the absence of disease or infirmity.</p>
            <footer>World Health Organization, 1948</footer>
        </blockquote>
    </div>
    <div class="col-md-4 center-block"></div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/ForMe/WellnessSmoking"><img class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" src="~/Content/Images/ForMe/Smoking.jpg" alt="Smoking"></a>
            <div class="item-content">
                <h3>Smoking</h3>
                In an upward revision, the World Health Organisation has said that 4.9 million people die of smoking-related illnesses per year...

                <a class="btn pull-right" href="~/ForMe/WellnessSmoking">Read more</a>

            </div>
        </article><!-- mind-features-item -->
    </div>
    <div class="col-md-3 col-sm-6">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/ForMe/WellnessStress"><img class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" src="~/Content/Images/ForMe/Stress.jpg" alt="Stress"></a>
            <div class="item-content">
                <h3>Stress</h3>
                Some stress might be good. But, when stress becomes uncontrolled, our bodies suffer the consequences in more way than one...

                <a class="btn pull-right" href="~/ForMe/WellnessStress">Read more</a>

            </div>
        </article><!-- mind-features-item -->
    </div>
    <div class="col-md-3 col-sm-6">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/ForMe/WellnessAlcohol"><img class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" src="~/Content/Images/ForMe/Alcohol.jpg" alt="Alcohol"></a>
            <div class="item-content">
                <h3>Alcohol</h3>
                Within five minutes of consuming alcohol, it enters the blood stream via the stomach. The effects can last for several hours...

                <a class="btn pull-right" href="~/ForMe/WellnessAlcohol">Read more</a>

            </div>
        </article><!-- mind-features-item -->
    </div>
    <div class="col-md-3 col-sm-6">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/ForMe/WellnessArticles"><img class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" src="~/Content/Images/ForMe/Wellness.jpg" alt="Articles"></a>
            <div class="item-content">
                <h3>Health Articles</h3>
                The more fruits and veggies you eat, the lower your chances of developing heart problems or dying early...

                <a class="btn pull-right" href="~/ForMe/WellnessArticles">Read more</a>

            </div>
        </article><!-- mind-features-item -->
    </div>
</div>