@{
    ViewBag.Title = "Contact";
     Layout = "~/Views/Shared/_LayoutContact.cshtml";
}

<h3>Western Cape</h3>
<div class="row">
    <div class="col-md-6">
        <strong>Physical Address</strong>
        <p>
            6th Floor <br>
            Paul Sauer  Building<br>
            No 1 Adderley Street <br>
            Cape Town
        </p>
    </div>
    <div class="col-md-6">
        <strong>Postal Address</strong>
        <p>
            PO Box 5446 <br>
            Cape Town <br>
            8000
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <strong>Telefax</strong>
        <div class="row">
            <div class="col-md-4">Telephone:</div>
            <div class="col-md-8">(021) 449-2700</div>
        </div>
        <div class="row">
            <div class="col-md-4">Toll Free:</div>
            <div class="col-md-8">0800 65 64 63</div>
        </div>
        <div class="row">
            <div class="col-md-4">Facsimile:</div>
            <div class="col-md-8">(021) 449-6351</div>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
