@{
    ViewBag.Title = "Contact";
     Layout = "~/Views/Shared/_LayoutContact.cshtml";
}

<h3>Gauteng</h3>
<h4>Johannesburg</h4>
<div class="row">
    <div class="col-md-6">
        <strong>Physical Address</strong>
        <p>
            Gauteng Metrorail Park <br>
            Cnr Loveday and Leyds Streets <br>
            Braamfontein
        </p>
    </div>
    <div class="col-md-6">
        <strong>Postal Address</strong>
        <p>
            PO Box 11579 <br>
            Braamfontein <br>
            2000
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <strong>Telefax</strong>
        <div class="row">
            <div class="col-md-4">Telephone:</div>
            <div class="col-md-8">(011) 774-5080</div>
        </div>
        <div class="row">
            <div class="col-md-4">Toll Free:</div>
            <div class="col-md-8">0800 12 70 70</div>
        </div>
        <div class="row">
            <div class="col-md-4">Facsimile:</div>
            <div class="col-md-8">(011) 772-5083</div>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
<h4>Pretoria</h4>
<div class="row">
    <div class="col-md-6">
        <strong>Physical Address</strong>
        <p>
            Station Building <br>
            Cnr Scheiding and Paul Kruger Streets <br>
            Pretoria
        </p>
    </div>
    <div class="col-md-6">
        <strong>Postal Address</strong>
        <p>
            PO Box 12244 <br>
            The Tramshed <br>
            Pretoria<br>
            0126
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <strong>Telefax</strong>
        <div class="row">
            <div class="col-md-4">Telephone:</div>
            <div class="col-md-8">(012) 315-3272</div>
        </div>
        <div class="row">
            <div class="col-md-4">Toll Free:</div>
            <div class="col-md-8"> 0800 12 70 70</div>
        </div>
        <div class="row">
            <div class="col-md-4">Facsimile:</div>
            <div class="col-md-8">(012) 315-2558</div>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
<br /><br />