@{
    ViewBag.Title = "Contact";
     Layout = "~/Views/Shared/_LayoutContact.cshtml";
}

<h3>PRASA</h3>
<div class="row">
    <div class="col-md-6">
        <strong>Physical Address</strong>
        <p>
            222 Smit Street<br>
            Cnr Smit and Rissik Streets<br>
            Braamfontein
        </p>
    </div>
    <div class="col-md-6">
        <strong>Postal Address</strong>
        <p>
            PO Box 32258<br>
            Braamfontein<br>
            2017
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <strong>Telefax</strong>
        <div class="row">
            <div class="col-md-4">Telephone:</div>
            <div class="col-md-8">(011) 773-7092</div>
        </div>
        <div class="row">
            <div class="col-md-4">Toll Free:</div>
            <div class="col-md-8">0800 12 70  70</div>
        </div>
        <div class="row">
            <div class="col-md-4">Facsimile:</div>
            <div class="col-md-8">(011) 773-7125</div>
        </div>
    </div>
    <div class="col-md-6">
        <strong>Websites</strong>
        <div class="row">
            <div class="col-md-4">Metrorail:</div>
            <div class="col-md-8"><a href="http://www.metrorail.co.za/" target="_blank">www.metrorail.co.za</a></div>
        </div>
        <div class="row">
            <div class="col-md-4">Prasa:</div>
            <div class="col-md-8"><a href="http://www.prasa.com//" target="_blank">www.prasa.com/</a></div>
        </div>
    </div>
</div>
