@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}


<div class="row">
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/News/InternalNews"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/InternalNews.jpg" alt="Internal News"></a>
            <div class="item-content padding10">
                <h3>Internal News</h3>
                <br />News, gossip, pictures... all things internal...
                <a class="btn pull-right btnlnk" href="~/News/InternalNews">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/News/ExternalNews"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/ExternalNews.jpg" alt="External News"></a>
            <div class="item-content padding10">
                <h3>External News</h3>
                <br />Read more about what the world has to say about our company...
                <a class="btn pull-right btnlnk" href="~/News/ExternalNews">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>