@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}


<div class="row">
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/News/InternalNews">
                <img src="~/Content/Images/InternalNews.jpg" width="115" height="113" alt="Internal News">
                <div class="caption">
                    <h3>Internal News</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/News/ExternalNews">
                <img src="~/Content/Images/ExternalNews.jpg" width="115" height="113" alt="External News">
                <div class="caption">
                    <h3>External News</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>