@{
    ViewBag.Title = "Community - EduTrain";
    Layout = "~/Views/Shared/_LayoutCommunity.cshtml";
}

<h1>Edutrain</h1>
<h3>Introduction</h3>
<p>The Edutrain, a product of PRASA Metrorail Gauteng, is a first of its kind in the Gauteng Province. It was made to bring excitement, colour and fun to train travel. This page contains information such as bookings, the Edu-Train destinations, costs, etc.</p>
<h3>Aim of the train</h3>
<p>The aim of the Edutrain is to bring excitement to the learning process by supplementing the static classroom environment. It introduces school children to train travel at an early age and adds fun to school outings. Children have the opportunity to visit interesting places such as museums and zoos.</p>
<h3>Edutrain guidelines and days of operation</h3>
<p>The Edutrain operates from 08h00 - 15h00 from Tuesday to Friday.Teachers and pupils board the Edu-Train at the station closest to their school and are taken to their pre-arranged destination. The Edu-Train remains at the station and after the visit teachers and pupils board the train for the return journey.</p>
<h3>Time keeping</h3>
<p>The Edutrain operates on a strict time schedule, therefore groups have to adhere to the agreed time. If a group is not at the agreed destination at the agreed time, the trip will be cancelled. Teachers and pupils must bear in mind that the given dates are subject to changes due to the maintenance of railway lines or the availability of the train.</p>
<h3>Grades</h3>
<p>The Edutrain is open to primary and high schools. Others are interested in making use of the train can inquire with the Edutrain co-ordinator.</p>
<h3>Maximum number of people</h3>
<p>Groups are limited to a minimum of 160 and eight educators.</p>
<h3>Cancellations</h3>
<p>The co-ordinator should be informed at least one week in advance of any cancellations. A school group will be liable for the Edutrain costs incurred if excursions are cancelled without early notification.</p>

<p>No school groups may visit shops to buy refreshments unless prior arrangements have been made with the Edutrain co-ordinator. Pupils are advised to bring a packed lunch. It is advisable to use rucksacks to pack lunch.</p>

<h3>Writing material</h3>
<p>Primary school pupils are advised to bring a pen, pencil and crayons.</p>

<h3>Code of Conduct</h3>
<p>Teachers/adults accompanying the children have to take responsibility for the following: The Edutrain must be kept clean and tidy. This means no littering or vandalism. Refuse bags are provided for litter. Nothing is to be thrown out of the windows. The co-ordinator will indicate when eating is allowed. For safety children are not allowed to move from coach to coach without adult supervision. MP3 players and games may not be brought on the trip. For safety purposes children are not allowed to lean on the train doors while the train is moving.At the end of the trip children should be encouraged to put into practice the PRASA Metrorail New Generation Education, especially if their school is near a railway line.</p>

<h3>Places of interest</h3>
<p>The following destinations are recommended. However, should you wish to visit a destination that is not listed below, please feel free to make arrangements with the Edutrain co-ordinator. As long as there is a railway track, we will take you there.</p>
 <ul>
     <li>Gold Reef City</li>
     <li>Johannesburg and Pretoria Zoo</li>  
     <li>Museum Africa</li>
     <li>S.A. Museum of Military History</li>
     <li>Santarama Museum of Science and Technology</li>
     <li>Sterkfontein Caves</li>
     <li>S.A.B.C. Tours</li>
     <li>Wild Waters (only open from September - February)</li>
     <li>The Johannesburg Planetarium</li>
     <li>Hector Peterson Memorial Park</li>
     <li>Mandela's House</li>
     <li>Apartheid Museum</li>
     <li>Delta Environmental Centre (water wise education programme and purification)</li>
     <li>Military Museum</li>
     <li>Police Museum</li>
     <li>Transport Museum</li>
     <li>Tours of PRASA Metrorail Rolling Stock and Johannesburg Station
 </ul>

<h3>Bookings</h3>
<p>To book the Edutrain or for more information on destinations and cost please contact:</p>
<p>Gauteng Metrorail's Marketing and Communications Department personnel:</p>
<ul>
    <li>
        Dolly Gaelesiwe 
        <ul>
            <li>(011) 774 2962 or</li>
            <li>083 287 0383</li>
        </ul>
    </li>
    <li>Dudu Radebe
        <ul>
            <li>(011) 774 3456 or</li>
            <li>083 286 5168</li>
            
        </ul>
    </li>
    <li>Fax: (011) 774 3636</li>
</ul>

<h3>Booking Deadlines</h3>
<p>Bookings are done on a first come first serve basis and must be made at least two weeks in advance.</p>

<h3>Cost</h3>
<p>These are determined per trip. After choosing a destination, please inquire about the costs by calling the Edutrain co-ordinator on (011) 774 2962. Payment has to be made in advance - at least one week before the journey, failure to do so will result in cancellation.</p>