@{
    
    ViewBag.Title = "Community";
    Layout = "~/Views/Shared/_LayoutCommunity.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/Community/EduTrain"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/EduTrain.jpg" alt="EduTrain"></a>
            <div class="item-content">
                <h3>EduTrain</h3>
                <br />The Edutrain is a first of its kind in the Gauteng Province....
                <a class="btn pull-right btnlnk" href="~/Community/EduTrain">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>