@{
    
    ViewBag.Title = "Community";
    Layout = "~/Views/Shared/_LayoutCommunity.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/Community/EduTrain">
                <img src="~/Content/Images/EduTrain.jpg" width="115" height="113" alt="Core Value">
                <div class="caption">
                    <h3>EduTrain</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>