@{
    ViewBag.Title = "Rail Information";
    Layout = "~/Views/Shared/_LayoutRailInformation.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-3">
        
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/RailInformation/TrainTimeTable"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/Timetable.jpg" alt="Train Time Table"></a>
            <div class="item-content padding10">
                <h3>Train Time Table</h3>
                <br />Get the latest metrorail time table...
                <a class="btn pull-right btnlnk" href="~/RailInformation/TrainTimeTable">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/RailInformation/TrainRoutes"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/TrainRoutes.jpg" alt="Train Routes"></a>
            <div class="item-content padding10">
                <h3>Train Routes</h3>
                <br />Get train routes throughout the country...
                <a class="btn pull-right btnlnk" href="~/RailInformation/TrainRoutes">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>