@{
    ViewBag.Title = "Rail Information";
    Layout = "~/Views/Shared/_LayoutRailInformation.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-3">
        
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/RailInformation/TrainTimeTable">
                <img src="~/Content/Images/Timetable.jpg" width="115" height="113" alt="Train Time Table">
                <div class="caption">
                    <h3>Train Time Table</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="~/RailInformation/TrainRoutes">
                <img src="~/Content/Images/TrainRoutes.jpg" width="115" height="113" alt="Train Routes">
                <div class="caption">
                    <h3>Train Routes</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>