@{
    ViewBag.Title = "Rail Information - Train Time Table";
    Layout = "~/Views/Shared/_LayoutRailInformation.cshtml";
}

<h1>Train Time Table - Sundays</h1>
<br /><br />
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/DAVEYTON-DUNSWART-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Daveyton - Dunswart</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/DUNSWART-DAVEYTON-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Dunswart - Daveyton</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/GEORGE GOCH-JOHANNESBURG-NALEDI-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">George Goch - Johannesburg - Naledi</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/GERMISTON-KLIPRIVIER-VEREENIGING-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Germiston - Kliprivier - Vereeniging</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/GERMISTON-KWESINE-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Germiston - Kwesine</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/JOHANNESBURG-LERALLA-PRETORIA-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Leralla - Pretoria</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/JOHANNESBURG-NEW CANADA-VEREENIGING SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - New Canada - Vereeniging</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/JOHANNESBURG-OBERHOLZER-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Oberholzer</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/JOHANNESBURG-RANDFONTEIN-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Randfontein</div></div>
    </div>
    <div class="col-md-5">
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/JOHANNESBURG-SPRINGS-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Springs</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/KWESINE-GERMISTON-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Kwesine - Germiston</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/NALEDI-JOHANNESBURG-GEORGE GOCH-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Naledi - Johannesburg - George Goch</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/OBERHOLZER-JOHANNESBURG-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Oberholzer - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/PRETORIA-LERALLA-JOHANNESBURG-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Pretoria - Leralla - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/RANDFONTEIN-JOHANNESBURG-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Randfontein - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/SPRINGS-JOHANNESBURG-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Springs - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/VEREENIGING-KLIPRIVIER-GERMISTON-SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Vereeniging - Kliprivier - Germiston</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SUN/VEREENIGING-NEW CANADA-JOHANNESBURG SUN.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Vereeniging - New Canada - Johannesburg</div></div>

    </div>
    <div class="col-md-1">
    </div>
</div>
<br /><br />