@{
    ViewBag.Title = "Rail Information - Train Time Table";
    Layout = "~/Views/Shared/_LayoutRailInformation.cshtml";
}

<h1>Train Time Table - Week days</h1>
<br /><br />
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/DAVEYTON-DUNSWART-JOHANNESBURG-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Daveyton - Dunswart - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/GEORGE GOCH-JOHANNESBURG-NALEDI WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">George Goch - Johannesburg - Naledi</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/GEORGE GOCH-JOHANNESBURG-VEREENIGING WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">George Goch - Johannesburg - Vereeniging</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/GERMISTON-KLIPRIVIER-VEREENIGING-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Germiston - Kliprivier - Vereeniging</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/GERMISTON-KWESINE-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Germiston - Kwesine</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/GERMISTON-NEW CANADA-GERMISTON-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Germiston - New Canada - Germiston</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/JOHANNESBURG-OBERHOLZER-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Oberholzer</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/JOHANNESBURG-RANDFONTEIN-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Randfontein</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/JOHANNESBURG-SPRINGS-WEEK-EXP.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Springs - Exp</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/JOHANNESBURG-SPRINGS-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Springs</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/JOHANNESBURG - DUNSWART-DAVEYTON-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg  -  Dunswart - Daveyton</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/JOHANNESBURG - LERALLA - PRETORIA-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg  -  Leralla  -  Pretoria</div></div>
    </div>
    <div class="col-md-5">
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/KWESINE-GERMISTON-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Kwesine - Germiston</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/NALEDI-JOHANNESBURG-GEORGE GOCH WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Naledi - Johannesburg - George Goch</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/NIGEL-SPRINGS-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Nigel - Springs</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/OBERHOLZER-JOHANNESBURG-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Oberholzer - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/PRETORIA - LERALLA - JOHANNESBURG-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Pretoria  -  Leralla  -  Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/RANDFONTEIN-JOHANNESBURG-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Randfontein - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/SPRINGS-JOHANNESBURG-WEEK-EXP.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Springs - Johannesburg - Exp</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/SPRINGS-JOHANNESBURG-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Springs - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/SPRINGS-NIGEL-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Springs - Nigel</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/VEREENIGING-JOHANNESBURG-GEORGE GOCH WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Vereeniging - Johannesburg - George Goch</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/WEEK/VEREENIGING-KLIPRIVIER-GERMISTON-WEEK.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Vereeniging - Kliprivier - Germiston</div></div>

    </div>
    <div class="col-md-1">
    </div>
</div>
<br /><br />