@{
    ViewBag.Title = "Rail Information - Train Time Table";
    Layout = "~/Views/Shared/_LayoutRailInformation.cshtml";
}

<h1>Train Time Table - Saturdays</h1>
<br /><br />
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/DAVEYTON-DUNSWART-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Daveyton - Dunswart</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/DUNSWART-DAVEYTON-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Dunswart - Daveyton</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/GEORGE GOCH-JOHANNESBURG-NALEDI-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">George Goch - Johannesburg - Naledi</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/GERMISTON-KLIPRIVIER-VEREENIGING-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Germiston - Kliprivier - Vereeniging</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/GERMISTON-KWESINE-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Germiston - Kwesine</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/GERMISTON-NEW CANADA-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Germiston - New Canada</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/JOHANNESBURG-LERALA-PRETORIA-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Lerala - Pretoria</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/JOHANNESBURG-NEW CANADA-VEREENIGING SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - New Canada - Vereeniging</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/JOHANNESBURG-OBERHOLZER SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Oberholzer</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/JOHANNESBURG-RANDFONTEIN-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Randfontein</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/JOHANNESBURG-SPRINGS-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Johannesburg - Springs</div></div>
    </div>
    <div class="col-md-5">
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/KWESINE-GERMISTON-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Kwesine - Germiston</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/NALEDI-JOHANNESBURG-GEORGE GOCH-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Naledi - Johannesburg - George Goch</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/NEW CANADA-GERMISTON-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">New Canada - Germiston</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/NIGEL-SPRINGS-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Nigel - Springs</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/OBERHOLZER-JOHANNESBURG SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Oberholzer - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/PRETORIA-LERALLA-JOHANNESBURG-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Pretoria - Leralla - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/RANDFONTEIN-JOHANNESBURG-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Randfontein - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/SPRINGS-JOHANNESBURG-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Springs - Johannesburg</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/SPRINGS-NIGEL-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Springs - Nigel</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/VEREENIGING-KLIPRIVIER-GERMISTON-SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Vereeniging - Kliprivier - Germiston</div></div>
        <div class="row"><div class="col-md-2"><a href="~/Content/Docs/RailInformation/SAT/VEREENIGING-NEW CANADA-JOHANNESBURG SAT.xls"><img src="~/Content/Images/RailInformation/timetable.png" class="tt-icon" /></a></div><div class="col-md-10">Vereeniging - New Canada - Johannesburg</div></div>
    </div>
    <div class="col-md-1">
    </div>
</div>
<br /><br />