@{
    ViewBag.Title = "Rail Information - Train Time Table";
    Layout = "~/Views/Shared/_LayoutRailInformation.cshtml";
}

<h1>Train Time Table</h1>

<div class="row  col-centered">
    <div class="col-md-4">
        <a href="~/RailInformation/TrainTimeTableWeek">
            <img src="~/Content/Images/RailInformation/week.png" class="square100" />
            <p>Week day Time tables</p>
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/RailInformation/TrainTimeTableSat">
            <img src="~/Content/Images/RailInformation/saturday.png" class="square100" />
            <p>Saturday Time tables</p>
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/RailInformation/TrainTimeTableSun">
            <img src="~/Content/Images/RailInformation/sunday.png" class="square100" />
            <p>Sunday Time tables</p>
        </a>
    </div>
</div>