@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_LayoutEvents.cshtml";
}





<div class="row">
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/Events/Upcoming"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/UpcomingEvents.jpg" alt="Upcoming Events"></a>
            <div class="item-content">
                <h3>Upcoming Events</h3>
                <br />Get the latest event calendar here....
                <a class="btn pull-right btnlnk" href="~/Events/Upcoming">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">
        <article class="metrorail-item hover bounceInLeft animation-delay-8 bounceInUp">
            <a href="~/Events/Archive"><img class="aligncenter size-full wp-image-72 square200" src="~/Content/Images/Archived.jpg" alt="Archived Events"></a>
            <div class="item-content">
                <h3>Archived Events</h3>
                <br />Get the details of archived events including photos and comments....
                <a class="btn pull-right btnlnk" href="~/Events/Archive">Read more</a>
            </div>
        </article>
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>