
body {

}
.jumbotron {
    padding: 10px;
    background-image: url('Images/RailHeaderXSml2.png');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-for-me {
    padding: 10px;
    background-image: url('Images/ForMe.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron-about {
    padding: 10px;
    background-image: url('Images/About.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron-news {
    padding: 10px;
    background-image: url('Images/News.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron-rail-information {
    padding: 10px;
    background-image: url('Images/RailInformation.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron-community {
    padding: 10px;
    background-image: url('Images/Community.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron-gallery {
    padding: 10px;
    background-image: url('Images/Gallery2.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron-legislation {
    padding: 10px;
    background-image: url('Images/Legislation.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron-events {
    padding: 10px;
    background-image: url('Images/Events.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron-contact {
    padding: 10px;
    background-image: url('Images/Contact.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

mark,
.mark {
  background-color: #DDEBFB;
  padding: .2em;
}

.mark {
    background-color: #DDEBFB;
    margin-top:.6em;
    margin-bottom:.4em;
}

.mark2 {
    background-color: #F1F8FE;
    margin-top:.2em;
    margin-bottom:.2em;
}

.square200 {
    height:200px;
    width:200px;
}

.square100 {
    height:100px;
    width:100px;
}

.square50 {
    height:50px;
    width:50px;
}

.square32 {
    height:32px;
    width:32px;
}

.square24 {
    height:24px;
    width:24px;
}

.square16 {
    height:16px;
    width:16px;
}

.metrorail-logo-xsml {
    height:52px;
    width:70px;
}

.metrorail-logo-sml {
    height:75px;
    width:100px;
}

.metrorail-logo-med {
    height:100px;
    width:150px;
}

.smalltext {
    font-size:14px;
}

.italic {
    font-style:italic;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.center-block {
    text-align:center;
    vertical-align:middle;
}

.centerv-block {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align:middle;
}

.metrorail-item {
    background-color: #eee;
    border: solid 1px #ccc;
    position: relative;
    overflow: hidden;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
}

.metrorail-item .item-icon {
    text-align: center;
    padding: 20px;
}

.metrorail-item i {
    color: #529AEB;
    font-size: 9em;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.metrorail-item .item-content {
    background-color: #529AEB;
    color: #fff;
    padding: 15px;
    height: 240px;
    position: absolute;
    z-index: 10;
    top: 175px;
    left: 0;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

.metrorail-item:hover .item-content,
.metrorail-item.cs-hover .item-content {
    top: 0
}

.metrorail-item .item-content h3 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 15px 0;
    color: #fff;
}

.btnlnk{
    color:blue;
}

.tt-icon{
    height:24px;
    width:24px;
    margin-bottom:10px;
}

.coming-soon{
    color:lightblue;
    font-size:5em;
}

.small-nav{
    font-size:12px;
}

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #555555;
}